<!DOCTYPE html>
<html>

<head>
  <title>Dell EMC Search Prototype</title>
  <meta about="Search all content at once." />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, height=device-height">

  <script src="js/CoveoJsSearch.js"></script>
  <script src="js/templatesNew.js"></script>
  <link rel="stylesheet" href="css/CoveoFullSearchNewDesign.css" />

  <!--
    <script src="https://static.cloud.coveo.com/searchui/v1.2537/js/CoveoJsSearch.js"></script>
    <script src="https://static.cloud.coveo.com/searchui/v1.2537/js/templates/templatesNew.js"></script>
    <link rel="stylesheet" href="https://static.cloud.coveo.com/searchui/v1.2537/css/CoveoFullSearchNewDesign.css" />
      -->
  <script src="js/Coveo.Dell_emc.js"></script>

  <link rel="stylesheet" href="css/DellEMCSearchPrototype.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      Coveo.SearchEndpoint.configureCloudEndpoint('dellsandbox', 'xxd281c16d-2511-4017-84cd-4cf7c2785048');
      Coveo.initSearchbox(document.getElementById('search'), '/dell/dell-emc-search-prototype.html');
    })

  </script>

  <!--EMC jQuery-->
<script type="text/javascript" src="//www.emc.com/_admin/js/jquery.js"></script>
<!--Global Nav-->
<link id="globalnav-fw-css" type="text/css" rel="stylesheet" href="//www.emc.com/content/dam/uwaem/assets/globalnav/globalnav-legacy-fw.min.css" />
<script type="text/javascript" src="//www.emc.com/content/dam/uwaem/assets/globalnav/globalnav-legacy-fw.min.js"></script>
<link type="text/css" rel="stylesheet" href="//www.emc.com/content/dam/uwaem/assets/globalnav/globalnav.min.css">


</head>

<div class="globalnav">

<!--googleoff: all-->

<style>
	#globalnav-header-inner {
		width: 1200px;
	}
</style>

<div id="globalnav-header-wrap">
	<div id="globalnav-header">
		<div id="globalnav-header-inner">

			<a href="//www.emc.com/en-us/index.htm" title="Dell EMC"><div id="globalnav-logo"><img src="//www.emc.com/content/dam/uwaem/assets/globalnav/globalnav-logo.png" alt="Dell EMC Logo"></div></a>
			
			<div id="globalnav-menu">
				<div>
					<div id="header-icon-menu"></div>
					<a href="https://support.emc.com/preferences"><div id="header-icon-account" class="show-login login-generic-icon"></div></a>
					<span id="searchFormWrapper"><div id="header-icon-search"></div></span>
				</div>
			</div>
		</div>
	</div>
	
	<!-- modal -->
	<div class="my-account-modal hidden" id="myAccountModal">
		<div class="my-account-title">My Account </div>
		<div class="my-account-data">
			<p class="my-account-salute">Welcome, <span class="my-account-fullname"></span></p>
			<p><span class="my-account-username"></span></p>
		</div>
		<a class="button button-blue button-action" href="//www.emc.com/logout.htm" target="_self"><span class="button-l"><span class="button-r"><span class="button-label">Log out</span></span></span></a>
		<a href="//www.emc.com/en-us/profile/account_information.htm" class="my-account-profile-link">View or Edit Profile</a>
	</div>
	<!-- /modal -->
		
</div>
<!--googleon: all-->

</div>


  <script id="customOmniboxTemplate" type="text/x-underscore-template">
    <div class="coveo-result-frame coveo-omnibox-selectable coveo-custom-result-row" style="width:30%;padding:2px;">
    <div class="coveo-result-row">
        <div class="CoveoResultLink coveo-result-cell" style="width:100px;">
            {{ if(raw.productimageurl) { }}
             <img src="{{-raw.productimageurl}}" style="width:75px;height:75px;margin-left:22px"></img>
            {{ } else { }}
             <img src="http://i.dell.com/das/xa.ashx/global-site-design%20WEB/b896b1de-e7ce-c655-ad2e-a12be2202231/1/OriginalPng?id=Dell/Product_Images/eSupport/icons/esupport-blank-space-v2.png" style="width:112x;height:75px"></img>
            {{ } }}
        </div>
        <div class="coveo-result-cell">
            <div>{{-title}} </div>
        </div>
    </div>
    </div>
</script>


    <body id="search" class='CoveoSearchInterface use-compatibility-header-fill' data-expression="@source=EMC" data-enable-history="true"
      data-design="new">
      <div class="CoveoAnalytics" data-search-hub="EMCSearchPage"></div>
      <div class='coveo-search-section'>
        <!--<div class="CoveoSettings"></div>-->
        <div class="CoveoSearchbox" data-enable-omnibox="true" data-enable-reveal-query-suggest-addon="true" data-endata-place-holder="Please enter a query"></div>
        <div class="CoveoOmniboxCustomSuggestions" data-expression="@commontype==Product" data-number-of-results="12" data-template-id="customOmniboxTemplate"></div>
      </div>
    </body>

</html>
