<!DOCTYPE html>
<html>

<head>
  <title>Dell EMC Search Prototype</title>
  <meta about="Search all content at once." />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, height=device-height">

  <script src="js/CoveoJsSearch.js"></script>
  <script src="js/templatesNew.js"></script>
  <link rel="stylesheet" href="css/CoveoFullSearchNewDesign.css" />

  <!--
    <script src="https://static.cloud.coveo.com/searchui/v1.2537/js/CoveoJsSearch.js"></script>
    <script src="https://static.cloud.coveo.com/searchui/v1.2537/js/templates/templatesNew.js"></script>
    <link rel="stylesheet" href="https://static.cloud.coveo.com/searchui/v1.2537/css/CoveoFullSearchNewDesign.css" />
      -->
  <script src="js/Coveo.Dell_emc.js"></script>

  <link rel="stylesheet" href="css/DellEMCSearchPrototype.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      Coveo.SearchEndpoint.configureCloudEndpoint('dellsandbox', 'xxd281c16d-2511-4017-84cd-4cf7c2785048');
      Coveo.initDell_emcCusto(document.body);
    })

  </script>

  <!--EMC jQuery-->
<script type="text/javascript" src="//www.emc.com/_admin/js/jquery.js"></script>
<!--Global Nav-->
<link id="globalnav-fw-css" type="text/css" rel="stylesheet" href="//www.emc.com/content/dam/uwaem/assets/globalnav/globalnav-legacy-fw.min.css" />
<script type="text/javascript" src="//www.emc.com/content/dam/uwaem/assets/globalnav/globalnav-legacy-fw.min.js"></script>
<link type="text/css" rel="stylesheet" href="//www.emc.com/content/dam/uwaem/assets/globalnav/globalnav.min.css">


</head>

<div class="globalnav">

<!--googleoff: all-->

<style>
	#globalnav-header-inner {
		width: 1200px;
	}
</style>

<div id="globalnav-header-wrap">
	<div id="globalnav-header">
		<div id="globalnav-header-inner">

			<a href="//www.emc.com/en-us/index.htm" title="Dell EMC"><div id="globalnav-logo"><img src="//www.emc.com/content/dam/uwaem/assets/globalnav/globalnav-logo.png" alt="Dell EMC Logo"></div></a>
			
			<div id="globalnav-menu">
				<div>
					<div id="header-icon-menu"></div>
					<a href="https://support.emc.com/preferences"><div id="header-icon-account" class="show-login login-generic-icon"></div></a>
					<span id="searchFormWrapper"><div id="header-icon-search"></div></span>
				</div>
			</div>
		</div>
	</div>
	
	<!-- modal -->
	<div class="my-account-modal hidden" id="myAccountModal">
		<div class="my-account-title">My Account </div>
		<div class="my-account-data">
			<p class="my-account-salute">Welcome, <span class="my-account-fullname"></span></p>
			<p><span class="my-account-username"></span></p>
		</div>
		<a class="button button-blue button-action" href="//www.emc.com/logout.htm" target="_self"><span class="button-l"><span class="button-r"><span class="button-label">Log out</span></span></span></a>
		<a href="//www.emc.com/en-us/profile/account_information.htm" class="my-account-profile-link">View or Edit Profile</a>
	</div>
	<!-- /modal -->
		
</div>
<!--googleon: all-->

</div>


  <script id="customOmniboxTemplate" type="text/x-underscore-template">
    <div class="coveo-result-frame coveo-omnibox-selectable coveo-custom-result-row" style="width:30%;padding:2px;">
    <div class="coveo-result-row">
        <div class="CoveoResultLink coveo-result-cell" style="width:100px;">
            {{ if(raw.productimageurl) { }}
             <img src="{{-raw.productimageurl}}" style="width:75px;height:75px;margin-left:22px"></img>
            {{ } else { }}
             <img src="http://i.dell.com/das/xa.ashx/global-site-design%20WEB/b896b1de-e7ce-c655-ad2e-a12be2202231/1/OriginalPng?id=Dell/Product_Images/eSupport/icons/esupport-blank-space-v2.png" style="width:112x;height:75px"></img>
            {{ } }}
        </div>
        <div class="coveo-result-cell">
            <div>{{-title}} </div>
        </div>
    </div>
    </div>
</script>


    <body id="search" class='CoveoSearchInterface use-compatibility-header-fill' data-expression="@source=EMC" data-enable-history="true"
      data-design="new">
      <div class="CoveoAnalytics" data-search-hub="EMCSearchPage"></div>
      <div class="CoveoAuthenticationProvider" data-name="oneloginjmd" data-caption="OneLogin auth"></div>
      <div class='coveo-search-section'>
        <!--<div class="CoveoSettings"></div>-->
        <div class="CoveoSearchbox" data-enable-omnibox="true" data-enable-reveal-query-suggest-addon="true" data-number-of-results="10"
          data-endata-place-holder="Please enter a query"></div>
        <div class="CoveoAdvancedSearchPanel"></div>
        <!--<div class="CoveoOmniboxCustomSuggestions" data-expression="@commontype==Product" data-number-of-results="12" data-template-id="customOmniboxTemplate"></div>-->
      </div>
      <div class="coveo-main-section">
        <div class="coveo-facet-column">
          <!--<div class="CoveoFacet" data-title="Type" data-field="@objecttype" ></div>-->
          <!--<div class="CoveoFacet" data-title="Type" data-field="@commontype"></div>-->
          <div class="CoveoFacet" data-id="product" data-title="Product" data-field="@commonproduct"></div>
          <div class="CoveoFacet" data-id="articleType" data-title="Article Type" data-field="@kbarticletype" data-tab="Knowledgebase"></div>
          <div class="CoveoFacet" data-id="problemCode" data-title="Problem Code" data-field="@kbproblemcode" data-tab="Knowledgebase"></div>
          <div class="CoveoFacet" data-id="langFacet" data-title="Language" data-field="@syslanguage"></div>
          <div class="CoveoFacetRange" data-id="allRange" data-date-field="true" data-title="Last Updated" data-enable-settings='false'
            data-enable-facet-search="false" data-field="@sysdate"></div>
          <!--<div class="CoveoFacet" data-title="Author" data-field="@author"></div>
        <div class="CoveoFacet" data-title="Year" data-field="@year"></div>
        <div class="CoveoFacet" data-title="Month" data-field="@month"></div>-->

        </div>
        <div class="coveo-results-column">
          <div class="coveo-tab-section">
            <a class="CoveoTab" data-id="All" data-caption="All Support"></a>
            <a class="CoveoTab" data-id="Knowledgebase" data-caption="Knowledgebase" data-expression="@source=knowledgebase"></a>
            <a class="CoveoTab" data-id="Documentation" data-caption="Documentation" data-expression="@source=documentation"></a>
            <a class="CoveoTab" data-id="SupportTools" data-caption="Support Tools" data-expression="@source=tools"></a>
            <a class="CoveoTab" data-id="Forums" data-caption="Forums" data-expression="@source=forums"></a>
          </div>
          <div class="CoveoShareQuery"></div>
          <div class="CoveoExportToExcel"></div>
          <div class="CoveoPreferencesPanel">
            <div class="CoveoResultsPreferences"></div>
            <div class="CoveoResultsFiltersPreferences"></div>
          </div>
          <div class="CoveoSearchAlerts"></div>
          <div class="CoveoBreadcrumb"></div>
          <div class="coveo-results-header">
            <div class="coveo-summary-section">
              <span class="CoveoQuerySummary"></span>
              <span class="CoveoQueryDuration"></span>
            </div>
            <div class="coveo-result-layout-section">
              <span class="CoveoResultLayout"></span>
            </div>
            <div class="coveo-sort-section">
              <span class="CoveoSort" data-sort-criteria="relevancy" data-caption="Relevance"></span>
              <span class="CoveoSort" data-sort-criteria="date descending,date ascending" data-caption="Date"></span>
              <span class="CoveoSort" data-sort-criteria="@commontitle descending,@commontitle ascending" data-caption="Title"></span>
            </div>
          </div>
          <div class="CoveoHiddenQuery"></div>
          <div class="CoveoDidYouMean"></div>
          <div class="CoveoErrorReport"></div>
          <div class="CoveoResultList" data-layout="list" data-wait-animation="fade" data-auto-select-fields-to-include="false">
            <script id="emcknowledge" class="result-template" type="text/x-underscore-template" data-condition="raw.source.indexOf('EMC Knowledgebase') > -1">
    <div class="coveo-result-frame">
    <div class="coveo-result-row">
        <div class="coveo-result-cell" style="width:40px;text-align:center;">
             <div class="dellemc-icon knowledge icon--bigger"></div>
        </div>
        <div class="coveo-result-cell" style="padding-left:15px;">
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:18px;">
                    <a class="CoveoResultLink"></a>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell">
                    <span class="CoveoExcerpt"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="width:100%;font-size:13px;color:gray;padding-top:6px;">
                    <div class="CoveoFieldValue" style="display:inline;" data-field="@sysdate" data-helper="date" data-helper-options="{predefinedFormat: 'MMMM dd, yyyy'}"></div>
                    <div class="CoveoFieldValue" style="display:inline;"data-field="@status">&nbsp;|&nbsp;</div>
                    <div class="CoveoFieldValue" style="display:inline;"data-field="@kbaudience">&nbsp;|&nbsp;</div>
                    <div class="CoveoFieldValue" style="display:inline;"data-field="@article_number">&nbsp;|&nbsp;</div>
                    <div class="CoveoFieldValue" style="display:inline;"data-field="@commonproduct">&nbsp;|&nbsp;</div>
                </div>
                <div class="coveo-result-cell" style="width:80px; text-align:right; font-size:13px">
                    <div class="coveo-result-row">
                        <div class="tableau-result-links-section">
                            <div class="CoveoQuickview"><span>Quick View</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</script>
<script id="emcknowledge" class="result-template" type="text/x-underscore-template" data-condition="raw.source.indexOf('EMC Forums') > -1">
    <div class="coveo-result-frame">
    <div class="coveo-result-row">
        <div class="coveo-result-cell" style="width:40px;text-align:center;">
             <div class="dellemc-icon forums icon--bigger"></div>
        </div>
        <div class="coveo-result-cell" style="padding-left:15px;">
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:18px;">
                    <a class="CoveoResultLink"></a>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell">
                    <span class="CoveoExcerpt"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="width:100%;font-size:13px;color:gray;padding-top:6px;">
                    <div class="CoveoFieldValue" style="display:inline;" data-field="@sysdate" data-helper="date" data-helper-options="{predefinedFormat: 'MMMM dd, yyyy'}"></div>
                    <div class="CoveoFieldValue" style="display:inline;"data-field="@commonproduct">&nbsp;|&nbsp;</div>
                </div>
                <div class="coveo-result-cell" style="width:80px; text-align:right; font-size:13px">
                    <div class="coveo-result-row">
                        <div class="tableau-result-links-section">
                            <div class="CoveoQuickview"><span>Quick View</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
</script>
<script id="emctools" class="result-template" type="text/x-underscore-template" data-condition="raw.source.indexOf('EMC Support Tools') > -1">
    <div class="coveo-result-frame">
    <div class="coveo-result-row">
        <div class="coveo-result-cell" style="width:40px;text-align:center;">
             <div class="dellemc-icon tool icon--bigger"></div>
        </div>
        <div class="coveo-result-cell" style="padding-left:15px;">
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:18px;">
                    <a class="CoveoResultLink"></a>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell">
                    <span class="CoveoExcerpt"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="width:100%;font-size:13px;color:gray;padding-top:6px;">
                    <div class="CoveoFieldValue" style="display:inline;" data-field="@sysdate" data-helper="date" data-helper-options="{predefinedFormat: 'MMMM dd, yyyy'}"></div>
                    <div class="CoveoFieldValue" style="display:inline;"data-field="@commonproduct">&nbsp;|&nbsp;</div>
                </div>
                <div class="coveo-result-cell" style="width:80px; text-align:right; font-size:13px">
                    <div class="coveo-result-row">
                        <div class="tableau-result-links-section">
                            <div class="CoveoQuickview"><span>Quick View</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
</script>
<script id="emcdocumentation" class="result-template" type="text/x-underscore-template" data-condition="raw.source.indexOf('EMC Documentation') > -1">
    <div class="coveo-result-frame">
    <div class="coveo-result-row">
        <div class="coveo-result-cell" style="width:40px;text-align:center;">
             <div class="dellemc-icon documentation icon--bigger"></div>
        </div>
        <div class="coveo-result-cell" style="padding-left:15px;">
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:18px;">
                    <a class="CoveoResultLink"></a>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell">
                    <span class="CoveoExcerpt"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="width:100%;font-size:13px;color:gray;padding-top:6px;">
                    <div class="CoveoFieldValue" style="display:inline;" data-field="@sysdate" data-helper="date" data-helper-options="{predefinedFormat: 'MMMM dd, yyyy'}"></div>
                    <div class="CoveoFieldValue" style="display:inline;"data-field="@commonproduct">&nbsp;|&nbsp;</div>
                </div>
                <div class="coveo-result-cell" style="width:80px; text-align:right; font-size:13px">
                    <div class="coveo-result-row">
                        <div class="tableau-result-links-section">
                            <div class="CoveoQuickview"><span>Quick View</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</script>
<script id="Default" class="result-template" type="text/x-underscore-template">
    <div class="coveo-result-frame">
    <div class="coveo-result-row">
        <div class="coveo-result-cell" style="width:40px;text-align:center;">
             <div class="dellemc-icon default icon--bigger"></div>
        </div>
        <div class="coveo-result-cell" style="padding-left:15px;">
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:18px;">
                    <a class="CoveoResultLink"></a>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell">
                    <span class="CoveoExcerpt"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:13px;">
                </div>
                <div class="coveo-result-cell" style="width:100%; text-align:right; font-size:13px">
                    <div class="coveo-result-row">
                        <div class="tableau-result-links-section">
                            <div class="CoveoQuickview"><span>Quick View</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
</script>
          </div>
          <!--<div class="CoveoResultList" data-layout="card" data-wait-animation="fade" data-auto-select-fields-to-include="true"></div>-->
          <div class="CoveoPager"></div>
          <div class="CoveoLogo"></div>
          <div class="CoveoResultsPerPage"></div>
        </div>
      </div>
    </body>

</html>
