<!DOCTYPE html>
<html ng-app>

<head>
  <title>Dell EMC Search Prototype</title>
  <meta about="Search all content at once." />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, height=device-height">
  <!--
    <script src="js/CoveoJsSearch.js"></script>
    <script src="js/templates/templatesNew.js"></script>
    <link rel="stylesheet" href="css/CoveoFullSearchNewDesign.css" />
    -->
  <script src="https://static.cloud.coveo.com/searchui/v1.2537/js/CoveoJsSearch.min.js"></script>
  <script src="https://static.cloud.coveo.com/searchui/v1.2537/js/templates/templatesNew.js"></script>
  <link rel="stylesheet" href="https://static.cloud.coveo.com/searchui/v1.2537/css/CoveoFullSearchNewDesign.css" />
  <script src="js/Coveo.Dell_emc.js"></script>

  <link rel="stylesheet" href="css/DellEMCSearchPrototype.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      Coveo.SearchEndpoint.configureCloudEndpoint('dellsandbox', 'xxd281c16d-2511-4017-84cd-4cf7c2785048');
      Coveo.initDell_emcCusto(document.body);
    })

  </script>

  <script type="text/javascript">
    Dell = window.Dell || {};
    Dell.Metrics = Dell.Metrics || {};
    Dell.Metrics.sc = Dell.Metrics.sc || {};
    Dell.Metrics.sc.country = "fj";
    Dell.Metrics.sc.language = "en";
    Dell.Metrics.sc.segment = "biz";
    Dell.Metrics.sc.customerset = "fjbiz1";
    Dell.Metrics.sc.cms = "fuel";
    Dell.Metrics.sc.pagename = "fj|en|biz|fjbiz1|esupport-home|home|index";
    Dell.Metrics.sc.premier = "false";
    Dell.Metrics.sc.supportvisit = "true";
    Dell.Metrics.sc.myaccount = "false";
    Dell.Metrics.sc.servicetag = "";
    Dell.Metrics.sc.supportsystem = "";
    Dell.Metrics.sc.supportappindex = "900.100.001";
    Dell.Metrics.sc.detailpagename = "cpsmse";
    Dell.Metrics.sc.seourl = "";
    Dell.Metrics.sc.tlservername = "19uJIluN4h0GNpFw1Hd0eA==";
    Dell.Metrics.sc.tlfaultexception = "false";
    Dell.Metrics.sc.svcupload = "false";
    Dell.Metrics.sc.homePage = "true";
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
function aFeoOverrideAttrRead1(link,href) {
    console.log("link: " + link + " href: " + href);
}
</script>

    <!--[if (gte IE 10)|!(IE)]><!-->
        <link href="http://1.shard.www.dell.com.edgekey.net/r/n/Ren-zNoJc-Vso.css" data-feo-orig-href="//www.dellcdn.com/support/home/static/8.2/mse-r-core.min.css" rel="stylesheet" type="text/css"/>
    <!-- <![endif]-->


<link href="http://1.shard.www.dell.com.edgekey.net/p/g/Ren-g9Kjuy8nM.js" type="text/javascript"/>

<script type="text/javascript">!function (t, e, o, l, r) { t.Global = t.Global || {}, t.MySupport = t.MySupport || {}, t.MySupport.Modules = t.MySupport.Modules || {}, t.Global.Context = { c: e, l: o, s: l, cs: r }, t.Global.lwp = t.Global.Context }(window.Dell = window.Dell || {}, "fj", "en", "biz", "fjbiz1");</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


</head>

<body id="top" class='CoveoSearchInterface use-compatibility-header-fill' data-expression="@source=Dell" data-enable-history="true"
  data-design="new">
  <script data-feo-orig-src="//www.dellcdn.com/support/home/static/8.2/mse-r-core.js" type="text/javascript" src="http://1.shard.www.dell.com.edgekey.net/u/W/Ren-2oi7IAm2E.js"></script>
  <script data-feo-orig-src="//www.dellcdn.com/support/home/static/8.2/mse-r-core-masthead.js" type="text/javascript" src="http://2.shard.www.dell.com.edgekey.net/g/2/Ren-v2FGBXWM8.js"></script>
  <script data-feo-orig-src="//www.dellcdn.com/support/home/static/8.2/mse-r-core-home.js" type="text/javascript" src="http://2.shard.www.dell.com.edgekey.net/H/6/Ren-F4qiwtosk.js"></script>
  <script data-feo-orig-src="//afcs.dell.com/support/client/Resources/application/js/api/eSupportClientApi.js" src="http://1.shard.www.dell.com.edgekey.net/p/g/Ren-g9Kjuy8nM.js"
    type="text/javascript"></script>

  <!-- Begin _Masthead.Angular.cshtml -->

<div id="angularHeader">
    <script type="text/ng-template" id="breadcrumbsTemplate.html">
        <div ng-if="data.EnterpriseSettings.ShowBreadCrumbs" class="breadcrumbs" style="position:inherit">
            <div class="container masthead-row-content" id="mh-breadcrumb-section">
                <ul id="ul-mh-breadcrumb">
                    <li ng-repeat="crumb in data.BreadcrumbLinks" class="{{crumb.CssClass}}">
                        <span class="sep"></span>
                        <a ng-if="crumb.Href" id="mh-breadcrumb-{{$index}}" ng-href="{{crumb.Href}}"><span>{{crumb.Text === ''?'&nbsp;':crumb.Text}}</span></a>
                        <span ng-if="!crumb.Href" id="mh-breadcrumb-{{$index}}">{{crumb.Text}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <div loading-container>
        <div loading-placeholder="desktop">
            <header class="desktop">
                <div class="cust-help">
                    <div class="container masthead-row-content ">
                    </div>
                </div>
                <nav class="mh desktop">
                    <div class="container tierRow desktop ">
                        <div class="mh-logo desktop">

                            <ul class="utility-nav logo">
                                <li style="font-family:icon-ui;" class="brand"><a href="http://www.dell.com/p/?c=fj&amp;l=en&amp;s=biz&amp;cs=fjbiz1" title="Dell"><img src="./image/delllogo200x200trans.png" style="width:50px;height:50px" aria-hidden="true"></img></a></li>
                            </ul>
                        </div>
                            <ul class="tier1">
                                    <li class="t1li mb-toggle">
                                        <div class="mh-tierLink noSub">
                                            <a href="http://www.dell.com/p?~ck=mn&amp;c=fj&amp;l=en&amp;s=biz&amp;cs=fjbiz1">Shop</a>
                                        </div>
                                    </li>
                                    <li class="t1li mb-toggle curSel">
                                        <div class="mh-tierLink">
                                            <a href="http://www.dell.com/support/home?~ck=mn">Support</a>
 <!--<span class="icon-ui-triangleup"></span> -->                                       </div>
                                    </li>
                                    <li class="t1li mb-toggle">
                                        <div class="mh-tierLink noSub">
                                            <a href="http://en.community.dell.com/?~ck=mn">Community</a>
                                        </div>
                                    </li>
                                                                    <li class="t1li mb-toggle">
                                        <div class="mh-tierLink noSub">
                                                <a href="https://www.dell.com/identity/global/in/d60b8d93-fa26-4d4a-955a-ef51baebde12?redirectUrl=http%3A%2F%2Fwww.dell.com%2Fsupport%2Fhome%2Ffj%2Fen%2Ffjbiz1%3Fc%3Dfj%26l%3Den%26s%3Dbiz&amp;c=fj&amp;l=en"></a>
                                        </div>
                                    </li>
                            </ul>
                    </div>
                </nav>

            </header>
        </div>
        <div loading-placeholder="mobile">
            <header class="mobile">
                <nav class="mh mobile">
                    <div class="tierRow">
                        <div class="mh-logo mobile">
                            <ul class="utility-nav-mobile">
                                <li class="brand"><a href="http://www.dell.com/p/?c=fj&amp;l=en&amp;s=biz&amp;cs=fjbiz1" title="Dell"><i aria-hidden="true" class="icon-ui-dell blue"></i></a></li>
                            </ul>
                        </div>
                        <div class="mh-tiernavlink mobile">
                            <a class="m_trNvExp" href="#"></a>
                            <span class="icon-ui-triangleup" aria-hidden="true"></span>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        <div loading-placeholder="tablet">
            <header class="tablet">
                <div class="cust-help">
                    <div class="masthead-row-content ">
                    </div>
                </div>
                <nav class="mh tablet">
                    <div class="tierRow tablet ">
                        <div class="mh-logo tablet">
                            <ul class="utility-nav logo">
                                <li class="brand"><a href="http://www.dell.com/p/?c=fj&amp;l=en&amp;s=biz&amp;cs=fjbiz1" title="Dell"><i aria-hidden="true" class="icon-ui-dell blue"></i></a></li>
                            </ul>
                        </div>
                            <ul class="tier1">
                                    <li class="t1li mb-toggle">
                                        <div class="mh-tierLink noSub">
                                            <a href="http://www.dell.com/p?~ck=mn&amp;c=fj&amp;l=en&amp;s=biz&amp;cs=fjbiz1">
                                                Shop
                                            </a>
                                        </div>
                                    </li>
                                    <li class="t1li mb-toggle curSel">
                                        <div class="mh-tierLink">
                                            <a href="http://www.dell.com/support/home?~ck=mn">
                                                Support
                                            </a>
 <span class="icon-ui-triangleup"></span>                                        </div>
                                    </li>
                                    <li class="t1li mb-toggle">
                                        <div class="mh-tierLink noSub">
                                            <a href="http://en.community.dell.com/?~ck=mn">
                                                Community
                                            </a>
                                        </div>
                                    </li>
                            </ul>
                    </div>
                </nav>
            </header>
        </div>

        <div loading-content="desktop" ng-include="'/content/masthead/Masthead.Desktop.html'" style="display: none"></div>
        <div loading-content="mobile" ng-include="'/content/masthead/Masthead.Mobile.html'" style="display: none"></div>
        <div loading-content="tablet" ng-include="'/content/masthead/Masthead.Tablet.html'" style="display: none"></div>

    </div>

    <div class="modal fade contextual-product-selector-modal" id="selectAnotherAccountModal" tabindex="-1" role="dialog" aria-labelledby="catalogModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding: 10px;">
                <div>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                </div>
                <iframe frameborder="0" width="100%" style="height: 110px;margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;"></iframe>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    var isNonMigrated = false;
    var mastheadModel = {"EnterpriseSettings":{"ShowContactUsLink":true,"ShowPhoneNumber":true,"ShowLogin":true,"ShowPremierLogin":true,"ShowAccountName":true,"ShowMdaMessaging":true,"ShowPrimaryNavigation":true,"ShowSecondaryNavigation":true,"ShowCart":true,"ShowSearchBox":true,"ShowBreadCrumbs":true},"MicroContent":{"ContactUsLink":{"Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/category/Contact-Information?~ck=mn","Text":"Contact Us"},"ContactUsHtml":null,"ContactPhoneNumber":null,"MyAccountLogin":{"Href":"https://www.dell.com/identity/global/in/d60b8d93-fa26-4d4a-955a-ef51baebde12?redirectUrl=http%3A%2F%2Fwww.dell.com%2Fsupport%2Fhome%2Ffj%2Fen%2Ffjbiz1%3Fc%3Dfj%26l%3Den%26s%3Dbiz&c=fj&l=en","Text":null},"MyAccountLogOut":{"Href":"","Text":""},"MyAccountLink":{"Href":"","Text":""},"PremierLogin":{"Href":"https://signin.dell.com/premier/portal/login.aspx","Text":"Premier Login"},"PremierLogout":{"Href":"","Text":""},"Mda":"","WelcomeMessageText":null,"CookieHeader":"Cookie Policy","CookieMessage":"Dell uses cookies to know when you visit our site, what your preferences are and other information to enrich your user experience. Click continue to accept our use of cookies.","ContinueButton":"Continue","ViewCookiePolicy":"","ManageCookies":"","CustomLinks":[],"CustomLinksTitle":null},"Navigation":{"Tier0":{"Src":"http://i.dell.com/images/global/brand/ui/logo-wt-bl.png","Title":"Dell","Alt":"Dell","Width":49,"Height":49,"Href":"http://www.dell.com/p/?c=fj&l=en&s=biz&cs=fjbiz1"},"Tier1":[{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Shop","Href":"http://www.dell.com/p?~ck=mn&c=fj&l=en&s=biz&cs=fjbiz1","IsCurrentPage":false,"SubMenu":[],"ViewAllLabel":"View All Shop"},{"HtmlAttributes":{},"HasSub":true,"Selected":false,"Label":"Support","Href":"http://www.dell.com/support/home?~ck=mn","IsCurrentPage":true,"SubMenu":[{"HtmlAttributes":{},"Selected":true,"HasSub":true,"ViewAllLabel":"View All Support by Product","Label":"Support by Product","Href":"http://www.dell.com/support/home/product-support?~ck=mn","SubMenu":[{"HtmlAttributes":{},"HasSub":false,"Selected":true,"Label":"Product Support","Href":"http://www.dell.com/support/home/Products/?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Manuals","Href":"http://www.dell.com/support/manuals/fj/en/fjbiz1?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Dell PC Diagnostics","Href":"http://www.dell.com/support/diagnostics/fj/en/fjbiz1/?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Drivers and Downloads","Href":"http://www.dell.com/support/home/product-support/drivers?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Dell Download Center","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/Category/Product-Support/Self-support-Knowledgebase/software-and-downloads/download-center?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Dell Digital Locker","Href":"http://www.dell.com/support/software?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Locate Your Service Tag","Href":"http://www.dell.com/support/contents/Category/Product-Support/Self-support-Knowledgebase/locate-service-tag?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Topics and Articles","Href":"http://www.dell.com/support/home/product-support/research?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Support Request Status","Href":"http://www.dell.com/support/incidents-online/srsearch?~ck=mn","SubMenu":[]},{"HtmlAttributes":{"~ck":"mn"},"HasSub":false,"Selected":false,"Label":"Dell EMC and Dell Subsidiaries","Href":"http://www.dell.com/support/contents/category/product-support/self-support-knowledgebase/dell-subsidiaries?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Support Videos","Href":"http://www.dell.com/support/troubleshooting/fj/en/fjbiz1/SupportVideos?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Product Recycling","Href":"http://www.dell.com/learn/dell-environment-recycling?s=corp&~ck=mn","SubMenu":[]}]},{"HtmlAttributes":{},"Selected":false,"HasSub":true,"ViewAllLabel":"View All Support Library","Label":"Support Library","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/category/Product-Support/Self-support-Knowledgebase?~ck=mn","SubMenu":[{"HtmlAttributes":{},"HasSub":false,"Selected":true,"Label":"Getting Started","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/category/Product-Support/Self-support-Knowledgebase/getting-started?~ck=mn&","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Windows","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/category/Product-Support/Self-support-Knowledgebase/Windows-Operating-Systems?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Linux","Href":"http://www.dell.com/support/contents/category/Product-Support/Self-support-Knowledgebase/linux-operating-systems?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Networking and Wireless","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/article/Product-Support/Self-support-Knowledgebase/hardware-support/networking-wireless?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Security and Virus","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/article/product-support/self-support-knowledgebase/software-and-downloads/security-and-antivirus?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Alienware","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/category/product-support/self-support-knowledgebase/dell-subsidiaries/alienware-support-site?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Application and Software Support","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/article/Product-Support/Self-support-Knowledgebase/software-and-downloads/app-software?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Monitors","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/category/Product-Support/Self-support-Knowledgebase/monitor-screen-video?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Support Videos","Href":"http://www.dell.com/support/troubleshooting/fj/en/fjbiz1/SupportVideos?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Printer Support","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/category/product-support/self-support-knowledgebase/printers?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Enterprise Resource Center","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/category/Product-Support/Self-support-Knowledgebase/enterprise-resource-center?~ck=mn","SubMenu":[]}]},{"HtmlAttributes":{},"Selected":false,"HasSub":true,"ViewAllLabel":"View All Order Support","Label":"Order Support","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/category/eSupport-Order-support?~ck=mn","SubMenu":[{"HtmlAttributes":{},"HasSub":false,"Selected":true,"Label":"Checking Order Status","Href":"https://www.dell.com/support/orderstatus/fj/en/fjbiz1/?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Customer Support Request Status","Href":"http://www.dell.com/support/incidents/fj/en/fjbiz1/carecases?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Problems with an Order","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/article/eSupport-Order-Support/problem-with-order?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Order Changes and Returns","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/article/eSupport-Order-Support/order-change-returns?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Invoice and Shipping Documents","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/article/eSupport-Order-Support/invoice-shipping?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Payment and Tax","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/article/eSupport-Order-Support/payment-tax?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Shipping and Delivery","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/article/eSupport-Order-Support/shipping-and-delivery?~ck=mn","SubMenu":[]}]},{"HtmlAttributes":{},"Selected":false,"HasSub":true,"ViewAllLabel":"View All Warranty and Support Services","Label":"Warranty and Support Services","Href":"http://www.dell.com/support/contents/Category/Warranty?~ck=mn","SubMenu":[{"HtmlAttributes":{},"HasSub":false,"Selected":true,"Label":"Warranty Status","Href":"http://www.dell.com/support/home/product-support/warranty?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Ownership Transfer","Href":"http://www.dell.com/support/retail/fj/en/fjbiz1/ownershiptransfer/IdentifySystem?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Retail Registration","Href":"http://www.dell.com/support/retail/fj/en/fjbiz1/?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Service Contracts for Home","Href":"http://www.dell.com/support/contents/article/Warranty/service-contracts-for-home-users?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Service Contracts for Business","Href":"http://www.dell.com/support/contents/article/Warranty/service-contracts-for-businesses?~ck=mn","SubMenu":[]}]},{"HtmlAttributes":{},"Selected":false,"HasSub":true,"ViewAllLabel":"View All Contact Us","Label":"Contact Us","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/category/Contact-Information?~ck=mn","SubMenu":[{"HtmlAttributes":{},"HasSub":false,"Selected":true,"Label":"Technical Support","Href":"http://www.dell.com/support/incidents-online/contactus?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Customer Support","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/category/Contact-Information/Customer-Support?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Sales","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/category/Contact-Information/Sales?~ck=mn","SubMenu":[]},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"International Support Services","Href":"http://www.dell.com/support/Contents/fj/en/fjbiz1/category/Contact-Information/International-Support-Services?~ck=mn","SubMenu":[]}]},{"HtmlAttributes":{},"Selected":false,"HasSub":false,"ViewAllLabel":"View All My Products and Services","Label":"My Products and Services","Href":"http://www.dell.com/support/assets/fj/en/fjbiz1?~ck=mn","SubMenu":[]}],"ViewAllLabel":"View All Support"},{"HtmlAttributes":{},"HasSub":false,"Selected":false,"Label":"Community","Href":"http://en.community.dell.com/?~ck=mn","IsCurrentPage":false,"SubMenu":[],"ViewAllLabel":"View All Community"}],"TouchAffordanceLabelTemplate":"View All {0}","ToolbarLinks":[],"NonMigratedRawToolbarItems":null},"CartHref":"https://ecomm.dell.com/dellstore/basket.aspx?c=fj&l=en&s=biz&cs=fjbiz1","CartCount":0,"Search":{"AutoSuggestUrl":"/SearchAPI/2/us/en/04/olr_support/suggest?take=10&category=","ShowSearch":true,"SearchButtonLabel":"Search","SearchTextboxPlaceholder":"What can we help you find?","SearchTerm":"SearchTerm","SearchFormAction":"http://search.dell.com/results.aspx","SearchInputName":"k","HiddenFields":[{"Name":"c","Value":"fj","HtmlAttributes":null},{"Name":"cs","Value":"fjbiz1","HtmlAttributes":null},{"Name":"l","Value":"en","HtmlAttributes":null},{"Name":"s","Value":"biz","HtmlAttributes":null},{"Name":"cat","Value":"sup","HtmlAttributes":null}],"SearchCategory":null},"UserLoggedIn":false,"ShowWelcomeMessage":false,"SelectAnotherAccountLabel":"Select Another Account","ChangePasswordLabel":"Change Password","PersonalInformationLabel":"Personal Information","IsPremier":false,"IsMigrated":false,"CookieHref":"","CanShowPremierLink":true,"MyAccountLabel":null,"MyAccountLink":null,"BreadcrumbLinks":[{"Href":"http://www.dell.com","CssClass":"home","Text":""},{"Href":null,"CssClass":null,"Text":"Support"}]};
    angular.bootstrap($("#angularHeader").get(0), ["masthead"]);
</script>
<!-- END _Masthead.Angular.cshtml -->
<!--
<div class="contact-us">
    <div class="contact-us-cta contact-us-slider" style="font-family:Roboto-Regular" id="contactslidertitle" onclick="LoadContactsDetails('/support/home/fj/en/fjbiz1/contactus/contactusdetails')">
        <h4><span class="editable">Contact us</span></h4>
    </div>

    <div class="contact-us-panel white" id="ContactUsDetails">

    </div>

</div>
-->
<script type="text/javascript">$(document).ready(function(){adjustContactUsBar();});</script>

<!--Start PromoBanner-->
<div class="container">

</div>
<!--End PromoBanner-->

    <!--[if (gte IE 10)|!(IE)]><!-->
        <link href="http://1.shard.www.dell.com.edgekey.net/2/q/Ren-VfL81A8SM.css" data-feo-orig-href="//www.dellcdn.com/support/home/static/8.2/mse-r-rvps.min.css" rel="stylesheet" type="text/css"/><script blzsys="1" type="text/javascript">aFeoOverrideAttrRead('link', 'href')</script>
    <!-- <![endif]-->
    <!--[if lte IE 9]>
        <link href="http://1.shard.www.dell.com.edgekey.net/N/p/Ren-yUm4KvH4o.css" data-feo-orig-href="//www.dellcdn.com/support/home/static/8.2/mse-r-rvps-forcedDesktop-ie8and9.min.css" rel="stylesheet" type="text/css"/><script blzsys="1" type="text/javascript">aFeoOverrideAttrRead('link', 'href')</script>
    <![endif]-->



<script type="text/javascript">
    var rvpsItemCount = '0';
    var removeRVPSUrl = "/support/home/fj/en/fjbiz1/RVPS/RemoveItem";

    function rvpsRedirect(isTag, serviceTag, productCode) {

        var href = '';

        href = "http://www.dell.com/support/home/fj/en/fjbiz1/product-support" + (isTag == "true" ? "/servicetag/" : "/product/") + (isTag == "true" ? serviceTag : productCode);

        SecureRedirect(href);
    }

    $(document).ready(function () {
        $('.carousel').carousel({
            pause: true,
            interval: false
        });

        hideRightOrLeftBtn(0, 0, 0);

        $('.carousel').on('slid.bs.carousel', function () {
            var carouselData = $(this).data('bs.carousel');
            var currentIndex = carouselData.getActiveIndex();
            var total = carouselData.$items.length;
            hideRightOrLeftBtn(currentIndex + 1, total, 1);
        });

        if ("0" == "1") {
            $('.rvpsCloseBtn').addClass('displayCrossforTouchDevice');
        }
    });
</script>

<div class="row bottom-offset-20 mse-padding-left-15px">
    <div id="entrySection" class="col-lg-12 col-xs-12 col-md-12 col-sm-12">



    <!--[if (gte IE 10)|!(IE)]><!-->
        <link href="http://2.shard.www.dell.com.edgekey.net/i/K/Ren-EXiP5xZnQ.css" data-feo-orig-href="//www.dellcdn.com/support/home/static/8.2/mse-r-tagentry.min.css" rel="stylesheet" type="text/css"/><script blzsys="1" type="text/javascript">aFeoOverrideAttrRead('link', 'href')</script>
    <!-- <![endif]-->
    <!--[if lte IE 9]>
        <link href="http://1.shard.www.dell.com.edgekey.net/z/Y/Ren-WsISd3WaM.css" data-feo-orig-href="//www.dellcdn.com/support/home/static/8.2/mse-r-tagentry-forcedDesktop-ie8and9.min.css" rel="stylesheet" type="text/css"/><script blzsys="1" type="text/javascript">aFeoOverrideAttrRead('link', 'href')</script>
    <![endif]-->

<div class="modal fade " id="NotificationModal" style="z-index:1100">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnClose">&times;</button>
                <h3>System analysis complete</h3>
            </div>
            <div class="modal-body" id="modalBody">
                <p>We have analyzed your system and have results for a {0} ({1}). Do you want to view these results or return to support for {2}?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnNew" class="btn btn-primary dellmetrics-sysa_view_results">View Results</a>
                <a href="#" id="btnOld" class="btn btn-default">Return to Product Support</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">var currentPage="MSEHome";$(document).ready(function(){eulaeventBinders(currentPage);});</script>

<script type="text/javascript" language="javascript">
    var insertDsdDbUrl = 'https://www.dell.com/support/home/fj/en/fjbiz1/Eula/storedsdinfoindb';
    var scanType = '';
    var appName = 'mse'.toLowerCase();
    var tabName = '';
    var showRetry = 'N';
    var ScanErrorPageUrl = '/support/home/fj/en/fjbiz1/Eula/Error';

    var indexUrl = '';
    var eulaURL = '/support/home/fj/en/fjbiz1/Eula/scan';
    //var getDSDTokenBeforeScanUrl = '';


    var tokenExpires = '1497923863';
    var isAliveToken = 'OyEe93Fy8E3XUL8jBG2bQ6yWWhArJa4wz1ZZ75xVAjuh9nhWsZ6QUQRHVovFGjw2kW720C%2F%2FYLgl4Pfomu4wnnsaPKkl2POr2EvbfGGwEEZ8oH0oblxZ9Hkys%2Barrnz5pxa8VLCHuijNtJdz9p4uuPW105MIJ8L7I%2FQHrYBnaCU%3D';
    var clientSystemToken = 'd8EY7NM6db3mmGLCQxI%2FgHaD3zPIZDFG%2FCQuGiVLHHN1sHNUrUVEwz2BXkdvdyOAGUEBjRpoRAq1z9HI2RW39WpIwJMXhlXHSjRRiFczz3fYKLAISPkM6tTjTclRmInqvTQ1mWGRWwvxAL9PJsbH090qMsiOsK4IBuvf%2BVRGdSg%3D';
    var DSDtimerToEnable = '5000';
    var isDsdInstalled = false;
    var CookieST = '';

    var appCancelUrl = 'http://www.dell.com/support/home/fj/en/fjbiz1';
    var appReturnUrl = 'http://www.dell.com/support/home/fj/en/fjbiz1/product-support/servicetag';
    var appIntent = '';
</script>




<style type="text/css">.mse_emcredirection .modal-dialog {
        width: 350px !important;
    }

    .mse_emcredirection .modal-content {
        margin-top: 50% !important;
        padding: 0 !important;
    }

    .emc-loading {
        margin-left: 30px;
        margin-right: 15px;
    }

    .dellemc-image {
        text-align: center;
        margin-top: -10px;
        font-size: 70px;
        position: relative;
        color: #007db8;
        line-height: 1.428571429;
    }

    .dellemc-msg-align {
        margin-top: -20px;
        margin-left: 13px;
    }

    .dellemc-redirection-msg {
        font-size: 14px;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    .dellemc-redirection-action-btn {
        text-align: center;
        font-size: 12px;
        margin-bottom: 24px;
    }

    .dellemc-icon {
        font-size: 40px;
    }

    .emcredirection_alert .modal-content {
        width: 102.5%;
    }</style>
<div class="emcredirection_alert mse_emcredirection">

    <div class="modal fade " id="emcredirection-modal" tabindex="-1" data-backdrop="static" role="dialog">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="dellemc-image">
                        <i class="icon-brand-dellemc dellemc-icon" aria-hidden="true"></i>


                </div>
                <div class="dellemc-msg-align">
                    <div class="icon-ui-loading pull-left emc-loading"></div><div class="dellemc-redirection-msg">Redirecting you to Dell EMC Support&#8230;</div>
                </div>
                <div class="dellemc-redirection-action-btn"><a id="emcredirectlink" data-metrics="{&quot;btnname&quot;:&quot;emcredirectlink&quot;, &quot;appcode&quot;:&quot; 900.400.002 &quot;}" href="javascript:void(0)">Continue</a> | <a id="emcredirectcloselink" data-metrics="{&quot;btnname&quot;:&quot;emcredirectcloselink&quot;, &quot;appcode&quot;:&quot; 900.400.003&quot;}" href="javascript:void(0)">Cancel</a></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">$(document).ready(function(){if($("#appName").val()!==undefined||$("#appName").val()!=null){$("#emcredirection-modal").attr("id",$("#appName").val()+"_emcredirection-modal");}});</script>
<!--[if lte IE 9]>
      <style>.mse-padding-left-15px {
        padding-left: 15px;
    }</style>
   <![endif]-->


    <!-- <body id="search" class='CoveoSearchInterface use-compatibility-header-fill' data-expression="@source=Dell" data-enable-history="true" data-design="new">
 -->
    <div class="CoveoAnalytics" data-search-hub="DellSearchPage"></div>
    <div class="CoveoAuthenticationProvider" data-name="oneloginjmd" data-caption="OneLogin auth"></div>
    <div class='coveo-search-section'>
      <!--<div class="CoveoSettings"></div>-->
      <div class="CoveoSearchbox" data-place-holder="Please enter a query"></div>
      <div class="CoveoAdvancedSearchPanel"></div>
    </div>
    <div class="coveo-main-section">
      <div class="coveo-facet-column">
        <!--<div class="CoveoFacet" data-title="Type" data-field="@objecttype" ></div>-->
        <div class="CoveoFacet" data-title="Type" data-field="@commontype"></div>
        <div class="CoveoFacet" data-id="langFacet" data-title="Language" data-field="@syslanguage"></div>
        <div class="CoveoFacetRange" data-id="allRange" data-date-field="true" data-title="Last Updated" data-enable-settings='false'
          data-enable-facet-search="false" data-field="@sysdate"></div>
        <!--<div class="CoveoFacet" data-title="Author" data-field="@author"></div>
        <div class="CoveoFacet" data-title="Year" data-field="@year"></div>
        <div class="CoveoFacet" data-title="Month" data-field="@month"></div>-->

      </div>
      <div class="coveo-results-column">
        <div class="coveo-tab-section">
          <a class="CoveoTab" data-id="All" data-caption="All Support"></a>
          <a class="CoveoTab" data-id="Knowledgebase" data-caption="Knowledgebase" data-expression="@source=knowledgebase"></a>
          <a class="CoveoTab" data-id="Documentation" data-caption="Documentation"></a>
          <a class="CoveoTab" data-id="SupportTools" data-caption="Support Tools"></a>
          <a class="CoveoTab" data-id="Forums" data-caption="Forums"></a>
        </div>
        <div class="CoveoShareQuery"></div>
        <div class="CoveoExportToExcel"></div>
        <div class="CoveoPreferencesPanel">
          <div class="CoveoResultsPreferences"></div>
          <div class="CoveoResultsFiltersPreferences"></div>
        </div>
        <div class="CoveoSearchAlerts"></div>
        <div class="CoveoBreadcrumb"></div>
        <div class="coveo-results-header">
          <div class="coveo-summary-section">
            <span class="CoveoQuerySummary"></span>
            <span class="CoveoQueryDuration"></span>
          </div>
          <div class="coveo-result-layout-section">
            <span class="CoveoResultLayout"></span>
          </div>
          <div class="coveo-sort-section">
            <span class="CoveoSort" data-sort-criteria="relevancy" data-caption="Relevance"></span>
            <span class="CoveoSort" data-sort-criteria="date descending,date ascending" data-caption="Date"></span>
            <span class="CoveoSort" data-sort-criteria="@commontitle descending,@commontitle ascending" data-caption="Title"></span>
          </div>
        </div>
        <div class="CoveoHiddenQuery"></div>
        <div class="CoveoDidYouMean"></div>
        <div class="CoveoErrorReport"></div>
        <div class="CoveoResultList" data-layout="list" data-wait-animation="fade" data-auto-select-fields-to-include="true">
          <script id="emcknowledge" class="result-template" type="text/x-underscore-template" data-condition="raw.source.indexOf('EMC Knowledgebase') > -1">
    <div class="coveo-result-frame">
    <div class="coveo-result-row">
        <div class="coveo-result-cell" style="width:40px;text-align:center;">
             <div class="dellemc-icon knowledge icon--bigger"></div>
        </div>
        <div class="coveo-result-cell" style="padding-left:15px;">
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:18px;">
                    <a class="CoveoResultLink"></a>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell">
                    <span class="CoveoExcerpt"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="width:100%;font-size:13px;color:gray;padding-top:6px;">
                    <div class="CoveoFieldValue" style="display:inline;" data-field="@sysdate" data-helper="date" data-helper-options="{predefinedFormat: 'MMMM dd, yyyy'}"></div>
                    <div class="CoveoFieldValue" style="display:inline;"data-field="@status">&nbsp;|&nbsp;</div>
                    <div class="CoveoFieldValue" style="display:inline;"data-field="@kbaudience">&nbsp;|&nbsp;</div>
                    <div class="CoveoFieldValue" style="display:inline;"data-field="@article_number">&nbsp;|&nbsp;</div>
                    <div class="CoveoFieldValue" style="display:inline;"data-field="@commonproduct">&nbsp;|&nbsp;</div>
                </div>
                <div class="coveo-result-cell" style="width:80px; text-align:right; font-size:13px">
                    <div class="coveo-result-row">
                        <div class="tableau-result-links-section">
                            <div class="CoveoQuickview"><span>Quick View</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</script>
<script id="emcknowledge" class="result-template" type="text/x-underscore-template" data-condition="raw.source.indexOf('EMC Forums') > -1">
    <div class="coveo-result-frame">
    <div class="coveo-result-row">
        <div class="coveo-result-cell" style="width:40px;text-align:center;">
             <div class="dellemc-icon forums icon--bigger"></div>
        </div>
        <div class="coveo-result-cell" style="padding-left:15px;">
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:18px;">
                    <a class="CoveoResultLink"></a>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell">
                    <span class="CoveoExcerpt"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="width:100%;font-size:13px;color:gray;padding-top:6px;">
                    <div class="CoveoFieldValue" style="display:inline;" data-field="@sysdate" data-helper="date" data-helper-options="{predefinedFormat: 'MMMM dd, yyyy'}"></div>
                    <div class="CoveoFieldValue" style="display:inline;"data-field="@commonproduct">&nbsp;|&nbsp;</div>
                </div>
                <div class="coveo-result-cell" style="width:80px; text-align:right; font-size:13px">
                    <div class="coveo-result-row">
                        <div class="tableau-result-links-section">
                            <div class="CoveoQuickview"><span>Quick View</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
</script>
<script id="emctools" class="result-template" type="text/x-underscore-template" data-condition="raw.source.indexOf('EMC Support Tools') > -1">
    <div class="coveo-result-frame">
    <div class="coveo-result-row">
        <div class="coveo-result-cell" style="width:40px;text-align:center;">
             <div class="dellemc-icon tool icon--bigger"></div>
        </div>
        <div class="coveo-result-cell" style="padding-left:15px;">
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:18px;">
                    <a class="CoveoResultLink"></a>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell">
                    <span class="CoveoExcerpt"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="width:100%;font-size:13px;color:gray;padding-top:6px;">
                    <div class="CoveoFieldValue" style="display:inline;" data-field="@sysdate" data-helper="date" data-helper-options="{predefinedFormat: 'MMMM dd, yyyy'}"></div>
                    <div class="CoveoFieldValue" style="display:inline;"data-field="@commonproduct">&nbsp;|&nbsp;</div>
                </div>
                <div class="coveo-result-cell" style="width:80px; text-align:right; font-size:13px">
                    <div class="coveo-result-row">
                        <div class="tableau-result-links-section">
                            <div class="CoveoQuickview"><span>Quick View</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
</script>
<script id="emcdocumentation" class="result-template" type="text/x-underscore-template" data-condition="raw.source.indexOf('EMC Documentation') > -1">
    <div class="coveo-result-frame">
    <div class="coveo-result-row">
        <div class="coveo-result-cell" style="width:40px;text-align:center;">
             <div class="dellemc-icon documentation icon--bigger"></div>
        </div>
        <div class="coveo-result-cell" style="padding-left:15px;">
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:18px;">
                    <a class="CoveoResultLink"></a>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell">
                    <span class="CoveoExcerpt"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="width:100%;font-size:13px;color:gray;padding-top:6px;">
                    <div class="CoveoFieldValue" style="display:inline;" data-field="@sysdate" data-helper="date" data-helper-options="{predefinedFormat: 'MMMM dd, yyyy'}"></div>
                    <div class="CoveoFieldValue" style="display:inline;"data-field="@commonproduct">&nbsp;|&nbsp;</div>
                </div>
                <div class="coveo-result-cell" style="width:80px; text-align:right; font-size:13px">
                    <div class="coveo-result-row">
                        <div class="tableau-result-links-section">
                            <div class="CoveoQuickview"><span>Quick View</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</script>
<script id="Default" class="result-template" type="text/x-underscore-template">
    <div class="coveo-result-frame">
    <div class="coveo-result-row">
        <div class="coveo-result-cell" style="width:40px;text-align:center;">
             <div class="dellemc-icon default icon--bigger"></div>
        </div>
        <div class="coveo-result-cell" style="padding-left:15px;">
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:18px;">
                    <a class="CoveoResultLink"></a>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell">
                    <span class="CoveoExcerpt"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:13px;">
                </div>
                <div class="coveo-result-cell" style="width:100%; text-align:right; font-size:13px">
                    <div class="coveo-result-row">
                        <div class="tableau-result-links-section">
                            <div class="CoveoQuickview"><span>Quick View</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
</script>
        </div>
        <!--<div class="CoveoResultList" data-layout="card" data-wait-animation="fade" data-auto-select-fields-to-include="true"></div>-->
        <div class="CoveoPager"></div>
        <div class="CoveoLogo"></div>
        <div class="CoveoResultsPerPage"></div>
      </div>
    </div>
    <footer class="footer-top-margin">
    <div class="wrapper footer-contextual-nav">
                <div class="hidden-md hidden-lg hidden-sm mb-all mb-padinfull country-selector">
                            <div class="footerCountryPopupWrapper">
                        <div class="hidden-md hidden-lg hidden-sm country-flag"><img src="//i.dell.com/images/global/masthead/smlflags/fj.gif" alt="Fiji" /></div>
                                            <a href="/support/home/fj/en/fjbiz1/masthead/getcountry?uri=http://www.dell.com/support/home/fj/en/fjbiz1?c=fj&amp;l=en&amp;s=biz&amp;cls=fj/en/fjbiz1" class="desktoppopover-show" data-placement="top" data-html="true">Fiji<span class="ctryArrow"></span></a>
                </div>

        </div>

        <div class="container contextual-links">
            <div class="col-sm-a-footer-12">
                    <ul class="contextual-link-col ">
    <li class="col-sm-3">
            <span>Do more with Dell <span class="icon-ui-plus hidden-sm hidden-md hidden-lg"></span></span>
                <ul class="footer-nav-children">
    <li class="">
                <a href="http://www.dell.com/content/public/xdbredirect.aspx?link=global:nav:partners">Partner Program</a>

    </li>
    <li class="">
                <a href="http://en.community.dell.com/techcenter/default.aspx">TechCenter</a>

    </li>
        </ul>

    </li>
    <li class="col-sm-3">
            <span>About Dell <span class="icon-ui-plus hidden-sm hidden-md hidden-lg"></span></span>
                <ul class="footer-nav-children">
    <li class="">
                <a href="http://www.dell.com/learn/about-dell?s=corp">Company Information</a>

    </li>
    <li class="">
                <a href="http://www.dell.com/learn/cr?s=corp">Corporate Social Responsibility</a>

    </li>
    <li class="">
                <a href="http://www.dell.com/learn/customer-engagement?s=corp">Customer Engagement</a>

    </li>
    <li class="">
                <a href="http://www.dell.com/learn/careers?s=corp">Careers</a>

    </li>
    <li class="">
                <a href="http://www.dell.com/learn/about-dell-newsroom?s=corp">Dell Newsroom</a>

    </li>
    <li class="">
                <a href="http://www.dell.com/content/public/xdbredirect.aspx?link=global:dell_technologies">Dell Technologies</a>

    </li>
        </ul>

    </li>
    <li class="col-sm-3">
            <span>Legal <span class="icon-ui-plus hidden-sm hidden-md hidden-lg"></span></span>
                <ul class="footer-nav-children">
    <li class="">
                <a href="http://www.dell.com/learn/policies-ads-and-emails?s=corp">Ads & Emails</a>

    </li>
    <li class="">
                <a href="http://www.dell.com/learn/policies-privacy?s=corp">Privacy Statement</a>

    </li>
    <li class="">
                <a href="http://www.dell.com/learn/terms?s=corp">Legal & Regulatory</a>

    </li>
    <li class="">
                <a href="http://www.dell.com/learn/terms-of-sale?s=corp">Terms of Sale</a>

    </li>
        </ul>

    </li>
    <li class="col-sm-3">
            <span>Community <span class="icon-ui-plus hidden-sm hidden-md hidden-lg"></span></span>
                <ul class="footer-nav-children">
    <li class="">
                <a href="http://en.community.dell.com/">The Dell Community</a>

    </li>
    <li class="">
                <a href="https://blog.dell.com/">Read Our Blog</a>

    </li>
    <li class="">
                <a href="http://en.community.dell.com/support-forums/default.aspx">Support Forums</a>

    </li>
    <li class="">
                <a href="http://events.dell.com/?lang=en">Events</a>

    </li>
        </ul>

    </li>
                    </ul>
                                        <div class="col-sm-a-3">
                            <div class="cs-arrow">
                                <div class="arrow"></div>
                                <div class="desktoppopover countrySelector" data-url="/support/home/fj/en/fjbiz1/masthead/getcountrylist">
                                    <div id="countrySelect">
                                        <button type="button" id="footer-country-close" class="close hidden footer-close-btn-mobile">X</button>
                                        <div class="countrySelectOuter" id="countrySelectOuter">
                                            <div class="icon-ui-loading" style="margin-left: 50%; margin-top: 40%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>

                    <div class="col-sm-a-3 hidden-xs mb-padinfull country-selector">
                <div class="hidden-xs country-flag"><img src="//i.dell.com/images/global/masthead/smlflags/fj.gif" alt="Fiji" /></div>
                            <div class="footerCountryPopupWrapper">
                                            <a href="/support/home/fj/en/fjbiz1/masthead/getcountry?uri=http://www.dell.com/support/home/fj/en/fjbiz1?c=fj&amp;l=en&amp;s=biz&amp;cls=fj/en/fjbiz1" class="desktoppopover-show" data-placement="top" data-html="true">Fiji<span class="ctryArrow"></span></a>
                </div>

        </div>


            <div style="clear: both;"></div>
        </div>

        <div class="visible-xs">
                <ul class="col-xs-12 primary-links footer-links">
                        <li><a   href="http://www.dell.com/learn/site-terms-of-use-copyright?s=corp">© 2017 Dell</a></li>
                        <li><a   href="http://www.dell.com/learn/terms?s=corp">Legal & Regulatory</a></li>
                        <li><a   href="http://www.dell.com/learn/terms-of-sale?s=corp">Terms of Sale</a></li>
                        <li><a   href="http://www.dell.com/learn/policies-privacy?s=corp">Privacy Statement</a></li>
                        <li><a   href="http://www.dell.com/learn/policies-ads-and-emails?s=corp">Ads & Emails</a></li>
                </ul>
        </div>

        <div style="clear:both;"></div>
    </div>
    <div class="separator"></div>
    <div class="container wrapper footer-links hidden-xs">
        <div class="row">
                <ul class="col-sm-12 ">
                        <li>
                                    <a   href="http://www.dell.com/learn/site-terms-of-use-copyright?s=corp">© 2017 Dell</a>


                        </li>
                        <li>
                                    <a   href="http://www.dell.com/learn/terms?s=corp">Legal & Regulatory</a>


                        </li>
                        <li>
                                    <a   href="http://www.dell.com/learn/terms-of-sale?s=corp">Terms of Sale</a>


                        </li>
                        <li>
                                    <a   href="http://www.dell.com/learn/policies-privacy?s=corp">Privacy Statement</a>


                        </li>
                        <li>
                                    <a   href="http://www.dell.com/learn/policies-ads-and-emails?s=corp">Ads & Emails</a>


                        </li>
                </ul>
        </div>
        <div style="clear: both;"></div>
    </div>
        <div class="separator hidden-xs"></div>
        <div class="container wrapper contextual-legal">
            <div class="col-xs-12">

            </div>
            <div style="clear: both;"></div>
        </div>
</footer>
<script type="text/javascript">$(document).ready(function(){FooterLoadEvent();});</script>



<div id="ffPopOverLnkTxt" class="hidden">Feature not supported by browser</div>
<div id="ffPopOverTxt" class="hidden">FireFox does not support this feature with a secure connection(https). For the best experience, we recommend using Internet Explorer or Chrome.</div>
<script lang="javascript">var isFireFoxHttpsEnabled=false;var ffVersion="> 1";ffVersion=ffVersion.trim();if($.isHttpsRequest()==true&&$.getBrowserDetails().name.toLowerCase()=="firefox"&&ffVersion.trim().length>0&&eval($.getBrowserDetails().version+ffVersion)){isFireFoxHttpsEnabled=true;}</script>



    <script type="text/javascript" src="http://1.shard.www.dell.com.edgekey.net/l/P/Ren-ZafYe9qv4.js"></script>

    <script type="text/javascript">
        var tokenExpires = '1498607863';
        var isAliveToken = 'lNfuLdrKVsuPnsM5Z4PDVmsmyEEno3hBwnWlN8BkgERcRb4G0p09WdHPfhyPWxJCllJDlwaTri6S8XTEG%2FpgU6MAU8o9vd3M0oadSbut85%2BEOyB3mKU6Q8IZH4pzhHjUEl7GGvYpt1hfFrXL4Mc9vltMXFg09Bqvs%2FPmmO6q6eM%3D';
        var clientSystemToken = 'nkNMQJ5XhcLdXa%2F1q58B5yKl3VUCJ7godhHr%2FwhXRBmSLmvtN5zo1lh5pLpuaKqsh3iiis0xRB32A6UxiBQAkExzfPIgdhGJBCcigpn2IqsYdmVMcgsRhnPX76wNXKUYlfEf2DpflAk2hMkPwHPFy751H1%2B9MtJ8FpMRRonzp1c%3D';
        var isDsdInstalled = false;
        var eulaDisplayed = false;
        var flyoutdiv = '';
        var tabChange = '';
        var currentPage = 'MSEHome';
        var isBotDetectCaptchaForcedFlag = false;
        var IsRecaptchaEnabled = false;
        var isCaptchaSucess = false;
        var globalActiveTab = "";
        $(document).ready(function () {

            globalEsc = new $.eSupportClientApi();
            globalEsc.tokenExpires.setValue(tokenExpires);
            globalEsc.isAliveToken.setValue(isAliveToken);
            globalEsc.getClientSystemInfoToken.setValue(clientSystemToken);

            "use strict";
            globalEsc.findService(function () {
                isDsdInstalled = true;
            }, function () {
                isDsdInstalled = false;
            });
        });
    </script>



    <script type="text/javascript">
        $(document).ready(function () {
            homepageeventbinder();
            var finalHomeUrl = getFinalPsUrl("/support/home/fj/en/fjbiz1/products/");
            ps_HandleBrowserHistory({
                replacementTargetSelector: "#pjaxCatalogReplaceTarget",
                bindUrl: finalHomeUrl,
                searchString: ""
            });
        });
    </script>

                <!-- Running: 19uJIluN4h0GNpFw1Hd0eA==  -->

    <!--[if IE 9]>
                <style type="text/css">.container {
                        width: 1170px; !important;
                    }</style>
            <![endif]-->

    <script type="text/javascript">
        Dell = window.Dell || {};
        Dell.Metrics = Dell.Metrics || {};
        Dell.Metrics.sc = Dell.Metrics.sc || {};
        var UserLwpRegion = 'ap';
        var RespectGeoCountry = 'False';
        var GeoCountryName = 'US';
        var DSDEnabled = '1';
    </script>
    <script data-feo-orig-src="//www.dellcdn.com/support/home/static/8.2/mse-r-appLeveljs-full.js" type="text/javascript" src="http://1.shard.www.dell.com.edgekey.net/i/8/Ren-3iBMLuZIU.js"></script>

        <script type="text/javascript" async defer src="//nexus.dell.com/dell/Bootstrap.js"></script>
<script blzsys="1" type="text/javascript">(function(){var oldOnLoad = window.onload;var newOnLoad = (function() {BlzFontsLoad("@font-face {font-family:Roboto-Regular;font-style:normal;font-weight:400;src:url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/roboto-normal.eot\");src:url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/roboto-normal.eot?#iefix\") format(\"embedded-opentype\"),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/roboto-normal.woff2\") format(\"woff2\"),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/roboto-normal.woff\") format(\"woff\"),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/roboto-normal.ttf\") format(\"truetype\"),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/roboto-normal.svg#svgroboto-normal\") format(\"svg\");}\n@font-face {font-family:Roboto-Light;font-style:normal;font-weight:300;src:url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/roboto-300.eot\");src:url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/roboto-300.eot?#iefix\") format(\"embedded-opentype\"),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/roboto-300.woff2\") format(\"woff2\"),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/roboto-300.woff\") format(\"woff\"),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/roboto-300.ttf\") format(\"truetype\"),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/roboto-300.svg#svgroboto-300\") format(\"svg\");}\n@font-face {font-family:icon-ui;src:url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-ui.eot\");src:url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-ui.eot?#iefix\") format(\'embedded-opentype\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-ui.woff\") format(\'woff\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-ui.ttf\") format(\'truetype\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-ui.svg#icon-ui\") format(\'svg\');font-weight:400;font-style:normal;}\n@font-face {font-family:icon-small;src:url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-small.eot\");src:url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-small.eot?#iefix\") format(\'embedded-opentype\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-small.woff\") format(\'woff\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-small.ttf\") format(\'truetype\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-small.svg#icon-small\") format(\'svg\');font-weight:400;font-style:normal;}\n@font-face {font-family:icon-large;src:url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-large.eot\");src:url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-large.eot?#iefix\") format(\'embedded-opentype\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-large.woff\") format(\'woff\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-large.ttf\") format(\'truetype\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-large.svg#icon-large\") format(\'svg\');font-weight:400;font-style:normal;}\n@font-face {font-family:icon-brand;src:url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-brand.eot?48smpd\");src:url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-brand.eot?48smpd#iefix\") format(\'embedded-opentype\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-brand.ttf?48smpd\") format(\'truetype\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-brand.woff?48smpd\") format(\'woff\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/icon-brand.svg?48smpd#icon-brand\") format(\'svg\');font-weight:400;font-style:normal;}\n@font-face {font-family:\'Glyphicons Halflings\';src:url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/glyphicons-halflings-regular.eot\");src:url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/glyphicons-halflings-regular.eot?#iefix\") format(\'embedded-opentype\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/glyphicons-halflings-regular.woff\") format(\'woff\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/glyphicons-halflings-regular.ttf\") format(\'truetype\'),url(\"http:\/\/www.dellcdn.com\/support\/home\/static\/repository\/glyphicons-halflings-regular.svg#glyphicons_halflingsregular\") format(\'svg\');}\n");});window.onload = (typeof window.onload != 'function') ?(newOnLoad):(function() { oldOnLoad(); newOnLoad();});})();
</script>

</body>

</html>
