@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
body {
  line-height: inherit; }

a {
  text-decoration: none;
  color: #4996B2; }

.CoveoSearchInterface {
  font-family: "Benton Sans Book", Helvetica, sans-serif; }

.CoveoResult .icon-support-case.icon--bigger {
  font-size: 32px; }

.CoveoResult .icon--bigger,
.CoveoResult .fa--bigger {
  font-size: 40px;
  color: #666666; }

.coveo-quick-view > .coveo-wrapper {
  width: 80% !important;
  height: 90% !important;
  max-width: 80% !important;
  max-height: 90% !important; }

.coveo-quick-view .coveo-title span.coveo-quickview-icon.coveo-icon {
  display: none !important; }

.coveo-quick-view .coveo-title {
  font-family: "Benton Sans Book", Helvetica, sans-serif;
  background-color: #4996B2 !important; }

.coveo-quick-view .coveo-title .coveo-quickview-time,
.coveo-quick-view .coveo-title .coveo-quickview-pop-up-reminder {
  color: #fff !important; }

.CoveoExcerpt {
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: #333;
  -webkit-font-smoothing: antialiased; }

.coveo-community-rating {
  color: #666;
  font-size: 12px; }

.coveo-community-rating > span {
  margin-right: 10px; }

.coveo-community-rating > span > i {
  margin-right: 5px; }

.CoveoTab {
  color: #666666; }

.CoveoTab:focus,
.CoveoTab:hover,
.CoveoTab.coveo-selected {
  color: #000; }

.coveo-facet-value-caption[title='Unspecified'] {
  font-style: italic; }

.CoveoResult a:hover, .CoveoResult a:visited,
.coveo-facet-value.coveo-facet-search-button,
.CoveoResultLink:hover,
.CoveoResultLink:visited,
a.CoveoResultLink:hover,
a.CoveoResultLink:visited,
.CoveoResult a.CoveoResultLink:hover,
.CoveoResult a.CoveoResultLink:visited,
a.CoveoResultLink .CoveoExcerpt,
.CoveoResult a.CoveoResultLink,
.coveo-field-table-toggle,
.coveo-field-table-toggle:hover, .coveo-field-table-toggle:visited,
.coveo-related-links-toggle,
.coveo-related-links-toggle:hover, .coveo-related-links-toggle:visited,
.coveo-related-links-languages a, .coveo-related-links-languages a:hover,
.coveo-related-links-languages:visited a,
.CoveoQuickview:hover, .CoveoQuickview:visited, .CoveoQuickview,
a.coveo-folding-show-more, a.coveo-folding-show-less,
.coveo-facet-breadcrumb-value.coveo-selected *, .coveo-facet-slider-breadcrumb-value.coveo-selected *,
a.CoveoBoxEditLink:hover, a.CoveoBoxEditLink:visited,
.coveo-hidden-query-breadcrumb-value, .coveo-hidden-query-breadcrumb-value:hover,
.coveo-breadcrumb-clear-all,
.coveo-facet-breadcrumb-value, .coveo-facet-slider-breadcrumb-value,
.coveo-facet-breadcrumb-value:hover, .coveo-facet-slider-breadcrumb-value:hover,
.tableau-external-links-section a, .tableau-external-links-section a:hover,
.tableau-external-links-section a:visited {
  color: #4996B2; }

.coveo-sprites-quickview,
.CoveoQuickview .coveo-icon-for-quickview,
.CoveoResultAttachments .coveo-thumbnail-icon,
.coveo-feedItem-result .coveo-thumbnail-icon,
.coveo-feedComment-result .coveo-thumbnail-icon,
.coveo-sprites-attach, .CoveoAttachToCase span.coveo-attach-to-case-attach:before {
  display: inline-block;
  float: left;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 18px; }

.coveo-facet-header-settings .coveo-icon,
.coveo-facet-header-settings:hover .coveo-icon,
.coveo-facet-header-settings:focus .coveo-icon {
  font-family: 'supportsearch' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 18px; }

.coveo-sprites-quickview:before,
.CoveoQuickview .coveo-icon-for-quickview:before,
.CoveoResultAttachments .coveo-thumbnail-icon:before,
.coveo-feedItem-result .coveo-thumbnail-icon:before,
.coveo-feedComment-result .coveo-thumbnail-icon:before {
  /* fa-eye */
  content: "\f06e"; }

.coveo-facet-header-settings .coveo-icon:before,
.coveo-facet-header-settings:hover .coveo-icon:before,
.coveo-facet-header-settings:focus .coveo-icon:before {
  /* fa-ellipsis */
  /*content: "\f141"*/
  content: "\e90b"; }

.coveo-sprites-attach,
.CoveoAttachToCase span.coveo-attach-to-case-attach:before,
.coveo-sprites-attached, .CoveoAttachToCase span.coveo-attach-to-case-attached:before {
  letter-spacing: normal;
  background-position: 0 0;
  text-indent: 2px;
  /* width: 16px; */
  /* height: 16px; */
  font-family: 'supportsearch' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e912";
  font-size: 16px; }

.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button .coveo-icon,
.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button:hover .coveo-icon,
.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button .coveo-icon:hover {
  background-image: none;
  background-position: 0 0;
  text-indent: 0;
  width: 20px;
  height: 20px;
  font-family: 'supportsearch' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  color: #fff; }

.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button .coveo-icon:before {
  content: '\e915'; }

.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button .coveo-icon:hover,
.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button:hover .coveo-icon {
  color: #85144b; }

.coveo-sprites-attach,
.CoveoAttachToCase span.coveo-attach-to-case-attach span,
.CoveoAttachToCase span.coveo-attach-to-case-attach:before {
  color: #666666; }

.coveo-sprites-attached,
.CoveoAttachToCase span.coveo-attach-to-case-attached span,
.CoveoAttachToCase span.coveo-attach-to-case-attached:before {
  color: #4996B2; }

.coveo-sprites-quickview,
.CoveoQuickview .coveo-icon-for-quickview,
.CoveoResultAttachments .coveo-thumbnail-icon,
.coveo-feedItem-result .coveo-thumbnail-icon,
.coveo-feedComment-result .coveo-thumbnail-icon,
.coveo-facet-header-settings .coveo-icon,
.coveo-facet-header-settings:hover .coveo-icon,
.coveo-facet-header-settings:focus .coveo-icon {
  letter-spacing: normal;
  color: #666666;
  background-position: 0 0;
  text-indent: 2px;
  width: 20px;
  height: 18px; }

.coveo-facet-more .coveo-icon {
  top: -2px; }

.coveo-facet-less .coveo-icon {
  top: -4px; }

.coveo-facet-collapsed .coveo-facet-values {
  display: none; }

.coveo-jive-icon {
  font-size: 40px !important;
  color: #666666; }

.jive-badge.jive-status-green {
  background-color: #14892c;
  border-color: #14892c;
  color: #fff; }

.jive-badge {
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 99%;
  margin: 0;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

.jive-status {
  vertical-align: text-bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12em;
  word-wrap: normal;
  word-break: normal; }

.coveo-facet-header {
  padding: 10px 0;
  text-transform: uppercase;
  background-color: #fff; }

.coveo-facet-header-title {
  color: inherit;
  font-size: 18px; }

.CoveoFacet, .CoveoFacetRange, .CoveoFacetSlider, .CoveoHierarchicalFacet {
  border: none;
  border-radius: 0px;
  margin: 20px 0;
  background-color: #F7F8F9; }

.coveo-facet-values {
  border: 1px solid #BCC3CA;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: none; }

.coveo-facet-footer {
  background-color: #F7F8F9;
  border: 1px solid #BCC3CA;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: none; }

.coveo-facet-more,
.coveo-facet-less {
  background-color: #F7F8F9; }

.coveo-facet-footer.coveo-facet-empty {
  visibility: visible;
  background-color: #F7F8F9; }

.coveo-facet-values.coveo-slider-container.coveo-with-graph {
  border-bottom: 1px solid #BCC3CA;
  border-radius: 3px; }

.CoveoRelatedLanguages {
  text-align: left; }

.tableau-result-links-section .CoveoQuickview,
.tableau-result-links-section .coveo-related-links-toggle {
  display: inline-block;
  margin: 0 10px; }

.tableau-result-links-section .coveo-related-links-toggle {
  margin-right: 0px; }

.coveo-first-loading-animation {
  background-color: #fff; }

.CoveoTab > .coveo-icon {
  line-height: 40px; }

.CoveoAttachedResultsTab {
  position: relative; }

.CoveoAttachedResultsTab.CoveoTab:before {
  border-left: 1px solid;
  content: " ";
  /* margin: 0px 25px 0 0; */
  position: absolute;
  top: 12px;
  height: 25px;
  left: -12px; }

.tableau-badge {
  font-size: 13px;
  display: inline-block;
  /* margin-left: 0.375em; */
  line-height: 1;
  vertical-align: middle;
  color: #67768B; }

.CoveoNbAttachedResults {
  display: inline-block; }

.CoveoSearchInterface .coveo-main-section,
.CoveoSearchInterface .coveo-bottom-section {
  max-width: 1100px;
  margin: 0 auto; }

.CoveoSearchInterface .coveo-search-section {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #F7F8F9; }

.coveo-tab-section {
  width: 1100px;
  text-align: left;
  padding: 0 15px;
  margin: 20px auto 0px;
  border: none; }

.CoveoFieldTable th {
  padding: 10px 10px 0px 0px; }

.CoveoResult {
  border-bottom: none;
  margin-bottom: 20px; }

.CoveoResultFolding .coveo-jive-icon {
  font-size: 20px !important; }

.CoveoResultFolding .CoveoExcerpt {
  line-height: normal;
  font-size: 12px; }

.CoveoResultFolding .icon-community-discussion-answered {
  color: #4996B2; }

.coveo-result-folding-child-result:hover {
  border-left: 1px solid #4996B2; }

.coveo-folding-normal-caption, .coveo-folding-expanded-caption, .coveo-folding-oneresult-caption {
  font-size: 13px; }

.tableau-top-section,
.tableau-bottom-section {
  background-color: #F7F8F9;
  width: 100%; }

.tableau-top-section {
  padding: 40px 0px 0px 0px;
  border-bottom: 1px solid #BCC3CA;
  margin: 0px 0px 20px 0px; }

.tableau-bottom-section {
  padding: 60px 0;
  border-top: 1px solid #BCC3CA;
  margin: 20px 0px 0px 0px; }

.CoveoSettings {
  border-radius: 0px;
  border: none;
  margin: 0 0 0 0px;
  font-size: 30px;
  line-height: 45px;
  width: 30px; }

.coveo-settings-squares {
  display: none; }

.CoveoSettings + .CoveoSearchbox {
  margin-right: 46px; }

.coveo-tab-section .CoveoTab {
  margin: 0 15px; }

.coveo-tab-section .CoveoTab:first-child {
  margin-left: 0px; }

.CoveoFacet, .CoveoFacetRange, .CoveoFacetSlider, .CoveoHierarchicalFacet {
  border: none;
  border-radius: 0px;
  margin: 20px 0; }

.CoveoSearchbox .magic-box {
  border: 1px solid #BCC3CA;
  border-radius: 3px; }

.CoveoSearchbox .CoveoSearchButton {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: white; }

.CoveoTab {
  margin-bottom: -1px;
  border-bottom: 4px solid transparent; }

.CoveoTab.coveo-selected, .CoveoTab.coveo-selected:hover,
.CoveoSort.coveo-selected, .CoveoSort.coveo-selected:hover {
  border-bottom: 4px solid #4996B2; }

.CoveoSort {
  padding: 0px 5px 9px 5px;
  margin-left: 10px;
  border-bottom: 4px solid #BCC3CA; }

/*.CoveoSort {
    padding: 0px 9px 9px 9px;
    border-bottom: 4px solid #BCC3CA;

}*/
.logo {
  float: left;
  border-radius: 0px;
  border: none;
  margin: 0 0 0 0px;
  font-size: 30px;
  line-height: 40px;
  width: 140px;
  height: 40px;
  top: 5px;
  position: relative;
  cursor: pointer; }

.logo + .CoveoSearchbox {
  margin-right: 46px;
  margin-left: 160px; }

.CoveoTriggers {
  margin-bottom: 10px; }

.CoveoSearchInterface .coveo-home-section.coveo-search-section {
  margin: 10% auto;
  background-color: transparent; }

.CoveoSearchInterface .coveo-home-section .logo {
  float: none;
  border-radius: 0px;
  border: none;
  font-size: 30px;
  line-height: 40px;
  width: 100%;
  height: 100%;
  padding: 20px;
  top: 0px;
  position: relative;
  cursor: pointer;
  text-align: center; }

.CoveoSearchInterface .coveo-home-section .logo + .CoveoSearchbox {
  margin-right: 10%;
  margin-left: 10%; }

.coveo-pager-list-item.coveo-active,
.coveo-active.coveo-results-per-page-list-item,
.coveo-pager-list-item:hover, .coveo-results-per-page-list-item:hover {
  background-color: #4996B2;
  color: #fff;
  font-weight: bold; }

.coveo-pager-list-item.coveo-active a, .coveo-active.coveo-results-per-page-list-item a, .coveo-pager-list-item:hover a, .coveo-results-per-page-list-item:hover a {
  color: #fff;
  font-weight: bold; }

.coveo-pager-list-item, .coveo-results-per-page-list-item {
  border-radius: 0;
  padding: 4px 10px; }

.coveo-results-per-page-text {
  color: #333; }

.CoveoResult.card:hover {
  box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2); }

.CoveoResult.card {
  width: 100%;
  float: none;
  border-radius: 4px;
  padding: 0 10px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; }
  .CoveoResult.card img {
    border-radius: 4px; }
  .CoveoResult.card ul.coveo-employee-contact-info > li {
    list-style: none;
    display: inline;
    padding-right: 8px; }
  .CoveoResult.card ul.coveo-employee-contact-info {
    padding-left: 0;
    margin: 2px 0; }

.trust-status img {
  width: 36px; }

.coveo-result-row.trust-header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 0;
  font-size: 20px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }

.coveo-result-row.trust-content {
  border: 1px solid #e3e3e3;
  border-top: none;
  margin: 0; }

.coveo-result-cell.trust-server,
.coveo-result-cell.trust-status {
  text-align: center;
  padding: 3px 0;
  color: #666;
  font-size: 1.1em;
  text-transform: uppercase;
  line-height: 30px; }

.tableau-result-links-section .coveo-field-table-toggle {
  display: inline-block; }

.tableau-result-links-section .CoveoFieldTable th {
  text-align: right; }

.tableau-result-links-section .CoveoFieldTable td {
  text-align: left; }

.tableau-external-links-section {
  margin-right: 46px;
  margin-left: 160px; }
  .tableau-external-links-section ul {
    text-align: right;
    margin: 10px 0;
    padding: 0; }
  .tableau-external-links-section ul > li {
    display: inline;
    list-style: none;
    padding: 0 20px; }
  .tableau-external-links-section ul > li:last-child {
    padding-right: 0; }

.tableau-top-section-header,
.tableau-top-sub-section-header {
  text-align: center;
  display: none; }

.tableau-announcement-section {
  text-align: left;
  display: none;
  /* max-width: 600px; */
  /* position: relative; */
  width: 800px;
  border: solid 1px;
  margin: auto;
  margin-top: 30px;
  background-color: white;
  padding: 0px 50px; }

.tableau-announcement-section h2 {
  text-align: center; }

.tableau-announcement-section ul {
  width: 80%;
  text-align: left;
  margin: 15px auto 30px auto; }

.tableau-announcement-section li {
  margin-bottom: .1em;
  line-height: 1.3; }

.tableau-announcement-section li > span {
  margin-left: 20px; }

.toplogo {
  width: 40px;
  float: left;
  display: none; }

.logo {
  max-width: 45px;
  margin-left: 50px; }

.logo + .CoveoSearchbox {
  margin-right: 46px;
  margin-left: 115px; }

@media (max-width: 639px) {
  .logo {
    margin-left: 10px; }
  .logo + .CoveoSearchbox {
    margin-left: 65px; } }

body.tableau-home-mode {
  background-color: #F7F8F9; }
  body.tableau-home-mode .tableau-top-section {
    border-bottom: none;
    top: 140px;
    position: relative; }
  body.tableau-home-mode .coveo-tab-section {
    visibility: hidden; }
  body.tableau-home-mode .coveo-main-section, body.tableau-home-mode .tableau-bottom-section {
    display: none; }
  body.tableau-home-mode .tableau-external-links-section {
    display: none; }
  body.tableau-home-mode .CoveoSettings {
    visibility: hidden; }
  body.tableau-home-mode .tableau-top-section-header,
  body.tableau-home-mode .tableau-top-sub-section-header,
  body.tableau-home-mode .tableau-announcement-section {
    display: block; }
  body.tableau-home-mode .coveo-small-interface .tableau-announcement-section,
  body.tableau-home-mode .coveo-small-interface .coveo-dropdown-header-wrapper {
    display: none; }
  body.tableau-home-mode .CoveoSearchbox {
    margin-left: 46px; }
  body.tableau-home-mode .tableau-top-section-wrapper {
    width: 570px;
    margin: 0 auto; }
  body.tableau-home-mode .toplogo {
    max-width: 40px;
    float: left;
    margin-top: 8px;
    display: block; }
  body.tableau-home-mode .logo {
    display: none; }
  @media (max-width: 639px) {
    body.tableau-home-mode .toplogo {
      display: none; }
    body.tableau-home-mode .logo {
      margin-left: 10px; }
    body.tableau-home-mode .logo + .CoveoSearchbox {
      margin-left: 65px; }
    body.tableau-home-mode .tableau-top-section-wrapper {
      width: 100%; } }

.tableau-first-loading .tableau-bottom-section {
  visibility: hidden; }

.tableau-top-sub-section-header {
  position: relative;
  margin: 10px 0; }

.dropdown-button {
  cursor: pointer; }

.dropdown-menu.open {
  display: block; }

.dropdown-toggle {
  position: relative;
  display: inline; }

.dropdown-menu {
  position: absolute;
  right: 0;
  z-index: 1000;
  display: none;
  min-width: 120px;
  padding: 5px 10px;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }

.tabwow-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 10;
  opacity: 1; }

.tabwow-loading .spinner {
  margin: 200px auto;
  width: 50px;
  height: 50px;
  background: url(https://coveo-tableau.pantheonsite.io/sites/all/themes/tabwow/images/spinner.png) center no-repeat;
  background-size: 100%; }

.animate-spin {
  animation: spin 1s linear infinite; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

.common-source-section,
.created-by-section {
  font-size: 13px;
  color: darkgray; }

.coveo-facet-value-caption.unspecified {
  font-style: italic; }

.coveo-facet-header-eraser {
  background-position: 0px 0px;
  width: 80px;
  text-transform: none;
  color: #4996B2; }

.coveo-facet-header-eraser:hover {
  background-position: 0px 0px;
  width: 80px;
  text-transform: none;
  text-decoration: underline;
  color: #4996B2; }

.coveo-facet-header-eraser:before {
  content: 'Clear all';
  text-indent: 0px; }

.coveo-give-feedback .coveo-icon,
.tableau-training-link .coveo-icon {
  display: inline-block;
  float: left;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 18px; }

.coveo-give-feedback .coveo-icon:before {
  /* fa-paper-plane */
  content: "\f1d8"; }

.tableau-training-link .coveo-icon:before {
  /* fa-book */
  content: "\f02d"; }

.coveo-authentication-provider {
  display: none; }

.icon-smaller {
  font-size: 20px; }

.coveo-list-layout.CoveoResult {
  border-bottom: 0px solid #BCC3CA;
  margin: 20px 0px 20px 20px; }

.wiki-folding .coveo-folding-footer {
  display: none; }
