@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.CoveoFeedback {
  position: relative;
  display: inline-block;
  background: transparent;
  background-clip: padding-box;
  color: #666;
  font-size: inherit;
  text-decoration: none;
  -webkit-appearance: none;
  white-space: normal;
  background-color: white;
  cursor: pointer;
  transition: color 0.05s linear, background-color 0.05s linear; }

.CoveoFeedback:hover {
  color: #e8762c; }

.coveo-modalBox.tableau-feedback > .coveo-wrapper {
  width: 55%;
  /*height: 95%; */
  max-width: 55%;
  /* max-height: 95%; */ }

.coveo-modalBox.tableau-feedback textarea:hover {
  border-color: #c4c4c4; }

.coveo-modalBox.tableau-feedback textarea:focus {
  border-color: #00b2f4;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 159, 219, 0.7);
  outline: none; }

.coveo-modalBox.tableau-feedback textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  height: 10em;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 1em;
  margin-bottom: .75em;
  padding: .5em;
  -webkit-transition: border-color;
  transition: border-color;
  width: 100%; }

.coveo-modalBox.tableau-feedback input {
  width: 100%;
  margin: 5px 0; }

.coveo-modalBox > .coveo-wrapper {
  background: #e9e9e9;
  border: 1px solid #dddddd;
  color: #292929; }
  .coveo-modalBox > .coveo-wrapper > .coveo-buttons,
  .coveo-modalBox > .coveo-wrapper > .coveo-body {
    background: none;
    border: none; }
  .coveo-modalBox > .coveo-wrapper > .coveo-title {
    background: none;
    border-bottom: 1px solid #d6d6d6;
    padding: 10px;
    height: inherit;
    line-height: inherit;
    cursor: inherit; }
  .coveo-modalBox > .coveo-wrapper > .coveo-body {
    padding: 8px 32px;
    background: #f6f6f6;
    color: #404040; }
  .coveo-modalBox > .coveo-wrapper > .coveo-buttons {
    text-align: center;
    background: #f6f6f6;
    color: #404040; }
  .coveo-modalBox > .coveo-wrapper > .coveo-buttons .coveo-button {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    background: #404040;
    color: #f6f6f6;
    margin: 0 16px;
    height: inherit;
    width: inherit; }

.coveo-related-links-toggle {
  color: #296896;
  text-decoration: none;
  cursor: pointer;
  margin: 0px 5px 5px 0px; }
  .coveo-related-links-toggle .coveo-related-links-caption {
    margin-right: 5px; }

.coveo-related-links-toggle-container {
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease-in-out; }
  .coveo-related-links-toggle-container.coveo-no-transition {
    transition: none; }

.CoveoRelatedLinks {
  border: 1px solid #BCC3CA;
  border-radius: 4px;
  width: 100%;
  background-color: #F7F8F9;
  padding-bottom: 10px;
  position: relative;
  word-break: break-all;
  border-collapse: separate;
  margin-bottom: 20px; }

.coveo-related-links-toggle-icon {
  position: relative;
  top: 2px;
  color: #2e4c65 !important;
  opacity: 1; }
  .coveo-related-links-toggle-icon.fa {
    font-size: 16px !important;
    margin-left: 5px; }
  .coveo-related-links-toggle-icon.coveo-opened {
    opacity: 0; }

.coveo-related-links-toggle-icon-up {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  color: #2e4c65 !important;
  display: none; }
  .coveo-related-links-toggle-icon-up.fa {
    font-size: 16px !important;
    margin-left: 5px; }
  .coveo-related-links-toggle-icon-up.coveo-opened {
    display: inline-block; }

.CoveoRelatedLinks .CoveoFieldValue {
  padding: 10px 0 0 10px;
  text-align: left; }

.CoveoRelatedLanguages {
  padding: 10px; }

.CoveoRelatedItems {
  display: table;
  padding: 8px 10px; }
  .CoveoRelatedItems .coveo-related-items,
  .CoveoRelatedItems .coveo-related-items {
    display: table-row; }
  .CoveoRelatedItems .coveo-related-items-header-row,
  .CoveoRelatedItems .coveo-related-items-data-row,
  .CoveoRelatedItems .coveo-related-items-header-row,
  .CoveoRelatedItems .coveo-related-items-data-row {
    display: table-cell; }
  .CoveoRelatedItems .coveo-related-items-header-row,
  .CoveoRelatedItems .coveo-related-items-header-row {
    width: 100px;
    padding-right: 10px; }
  .CoveoRelatedItems .coveo-related-links-Case .coveo-related-items-header-row {
    display: none; }

.CoveoCaseContext {
  padding: 0;
  /* border: 1px solid #BCC3CA; */
  border-radius: 4px;
  background: #F7F8F9;
  position: relative;
  margin: 10px 0px 10px 0px; }
  .CoveoCaseContext .coveo-facet-header-title {
    color: #fff; }
  .CoveoCaseContext .coveo-facet-header {
    padding: 10px 20px;
    background-color: #4996B2;
    color: #fff;
    border: 1px solid #4996B2;
    text-transform: uppercase; }
    .CoveoCaseContext .coveo-facet-header a {
      color: #fff; }
    .CoveoCaseContext .coveo-facet-header .coveo-facet-header-eraser,
    .CoveoCaseContext .coveo-facet-header .coveo-facet-header-eraser:hover {
      background-position: 0 0;
      background-image: none;
      text-indent: 0;
      font-size: 22px; }
    .CoveoCaseContext .coveo-facet-header .coveo-facet-header-eraser:hover {
      color: #85144b; }
  .CoveoCaseContext .coveo-fade-out {
    opacity: 0.5;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s; }

li.coveo-context-section {
  list-style: none;
  border-bottom: 1px solid #4996B2;
  margin-left: 0; }

li.coveo-context-section .coveo-context-title {
  font-weight: bold;
  color: #4996B2; }

li.coveo-context-section .coveo-context-finder {
  border: none;
  padding: 1em 0 0 0; }

ul.coveo-context-content,
.coveo-context-finder {
  padding: 1em;
  border: 1px solid #BCC3CA;
  margin: 0;
  border-top: none;
  -webkit-margin-before: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

li.coveo-context-section:last-child {
  border-bottom: none; }

.coveo-context-finder .magic-box .magic-box-suggestions .magic-box-suggestion {
  padding: 5px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: #333;
  -webkit-font-smoothing: antialiased;
  white-space: normal; }
  .coveo-context-finder .magic-box .magic-box-suggestions .magic-box-suggestion .icon-support-case {
    color: #666666;
    margin-right: 5px; }

.coveo-context-finder .magic-box .magic-box-input .magic-box-underlay, .coveo-context-finder .magic-box .magic-box-input > input {
  font-size: 15px;
  font-family: "Benton Sans Book", Helvetica, sans-serif;
  line-height: 1;
  height: 36px;
  padding: 8px 0; }

.coveo-context-finder .magic-box .magic-box-input {
  height: 36px; }

.coveo-context-finder .magic-box.magic-box-notEmpty .magic-box-clear {
  width: 36px; }

.coveo-context-finder .magic-box .magic-box-clear {
  height: 36px;
  line-height: 36px;
  font-size: 12px; }

.coveo-context-finder .magic-box .magic-box-suggestions .magic-box-suggestion.magic-box-selected {
  background-color: #4996B2 !important;
  color: #fff; }

.coveo-context-finder .magic-box .magic-box-clear .magic-box-icon:before {
  font-family: "Benton Sans Book", Helvetica, sans-serif;
  font-size: 15px; }

.coveo-context-finder .magic-box .magic-box-suggestions .magic-box-suggestion:hover {
  background-color: #4996B2;
  color: #fff; }

body {
  line-height: inherit; }

.CoveoSearchInterface {
  font-family: "Benton Sans Book", Helvetica, sans-serif; }

.CoveoResult .icon-support-case.icon--bigger {
  font-size: 32px; }

.CoveoResult .icon--bigger,
.CoveoResult .fa--bigger {
  font-size: 40px;
  color: #666666; }

.coveo-quick-view > .coveo-wrapper {
  width: 80% !important;
  height: 90% !important;
  max-width: 80% !important;
  max-height: 90% !important; }

.coveo-quick-view .coveo-title span.coveo-quickview-icon.coveo-icon {
  display: none !important; }

.coveo-quick-view .coveo-title {
  font-family: "Benton Sans Book", Helvetica, sans-serif;
  background-color: #4996B2 !important; }

.coveo-quick-view .coveo-title .coveo-quickview-time,
.coveo-quick-view .coveo-title .coveo-quickview-pop-up-reminder {
  color: #fff !important; }

.CoveoExcerpt {
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: #333;
  -webkit-font-smoothing: antialiased; }

.coveo-community-rating {
  color: #666;
  font-size: 12px; }

.coveo-community-rating > span {
  margin-right: 10px; }

.coveo-community-rating > span > i {
  margin-right: 5px; }

.CoveoTab {
  color: #666666; }

.CoveoTab:focus,
.CoveoTab:hover,
.CoveoTab.coveo-selected {
  color: #000; }

.coveo-facet-value-caption[title='Unspecified'] {
  font-style: italic; }

.CoveoResult a:hover, .CoveoResult a:visited,
.coveo-facet-value.coveo-facet-search-button,
.CoveoResultLink:hover,
.CoveoResultLink:visited,
a.CoveoResultLink:hover,
a.CoveoResultLink:visited,
.CoveoResult a.CoveoResultLink:hover,
.CoveoResult a.CoveoResultLink:visited,
a.CoveoResultLink .CoveoExcerpt,
.CoveoResult a.CoveoResultLink,
.coveo-field-table-toggle,
.coveo-field-table-toggle:hover, .coveo-field-table-toggle:visited,
.coveo-related-links-toggle,
.coveo-related-links-toggle:hover, .coveo-related-links-toggle:visited,
.coveo-related-links-languages a, .coveo-related-links-languages a:hover,
.coveo-related-links-languages:visited a,
.CoveoQuickview:hover, .CoveoQuickview:visited, .CoveoQuickview,
a.coveo-folding-show-more, a.coveo-folding-show-less,
.coveo-facet-breadcrumb-value.coveo-selected *, .coveo-facet-slider-breadcrumb-value.coveo-selected *,
a.CoveoBoxEditLink:hover, a.CoveoBoxEditLink:visited,
.coveo-hidden-query-breadcrumb-value, .coveo-hidden-query-breadcrumb-value:hover,
.coveo-breadcrumb-clear-all,
.coveo-facet-breadcrumb-value, .coveo-facet-slider-breadcrumb-value,
.coveo-facet-breadcrumb-value:hover, .coveo-facet-slider-breadcrumb-value:hover,
.tableau-external-links-section a, .tableau-external-links-section a:hover,
.tableau-external-links-section a:visited {
  color: #4996B2; }

.coveo-sprites-quickview,
.CoveoQuickview .coveo-icon-for-quickview,
.CoveoResultAttachments .coveo-thumbnail-icon,
.coveo-feedItem-result .coveo-thumbnail-icon,
.coveo-feedComment-result .coveo-thumbnail-icon,
.coveo-sprites-attach, .CoveoAttachToCase span.coveo-attach-to-case-attach:before {
  display: inline-block;
  float: left;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 18px; }

.coveo-facet-header-settings .coveo-icon,
.coveo-facet-header-settings:hover .coveo-icon,
.coveo-facet-header-settings:focus .coveo-icon {
  font-family: 'supportsearch' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 18px; }

.coveo-sprites-quickview:before,
.CoveoQuickview .coveo-icon-for-quickview:before,
.CoveoResultAttachments .coveo-thumbnail-icon:before,
.coveo-feedItem-result .coveo-thumbnail-icon:before,
.coveo-feedComment-result .coveo-thumbnail-icon:before {
  /* fa-eye */
  content: "\f06e"; }

.coveo-facet-header-settings .coveo-icon:before,
.coveo-facet-header-settings:hover .coveo-icon:before,
.coveo-facet-header-settings:focus .coveo-icon:before {
  /* fa-ellipsis */
  /*content: "\f141"*/
  content: "\e90b"; }

.coveo-sprites-attach,
.CoveoAttachToCase span.coveo-attach-to-case-attach:before,
.coveo-sprites-attached, .CoveoAttachToCase span.coveo-attach-to-case-attached:before {
  letter-spacing: normal;
  background-position: 0 0;
  text-indent: 2px;
  /* width: 16px; */
  /* height: 16px; */
  font-family: 'supportsearch' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e912";
  font-size: 16px; }

.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button .coveo-icon,
.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button:hover .coveo-icon,
.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button .coveo-icon:hover {
  background-image: none;
  background-position: 0 0;
  text-indent: 0;
  width: 20px;
  height: 20px;
  font-family: 'supportsearch' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  color: #fff; }

.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button .coveo-icon:before {
  content: '\e915'; }

.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button .coveo-icon:hover,
.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button:hover .coveo-icon {
  color: #85144b; }

.coveo-sprites-attach,
.CoveoAttachToCase span.coveo-attach-to-case-attach span,
.CoveoAttachToCase span.coveo-attach-to-case-attach:before {
  color: #666666; }

.coveo-sprites-attached,
.CoveoAttachToCase span.coveo-attach-to-case-attached span,
.CoveoAttachToCase span.coveo-attach-to-case-attached:before {
  color: #4996B2; }

.coveo-sprites-quickview,
.CoveoQuickview .coveo-icon-for-quickview,
.CoveoResultAttachments .coveo-thumbnail-icon,
.coveo-feedItem-result .coveo-thumbnail-icon,
.coveo-feedComment-result .coveo-thumbnail-icon,
.coveo-facet-header-settings .coveo-icon,
.coveo-facet-header-settings:hover .coveo-icon,
.coveo-facet-header-settings:focus .coveo-icon {
  letter-spacing: normal;
  color: #666666;
  background-position: 0 0;
  text-indent: 2px;
  width: 20px;
  height: 18px; }

.coveo-facet-more .coveo-icon {
  top: -2px; }

.coveo-facet-less .coveo-icon {
  top: -4px; }

.coveo-facet-collapsed .coveo-facet-values {
  display: none; }

.coveo-jive-icon {
  font-size: 40px !important;
  color: #666666; }

.jive-badge.jive-status-green {
  background-color: #14892c;
  border-color: #14892c;
  color: #fff; }

.jive-badge {
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 99%;
  margin: 0;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

.jive-status {
  vertical-align: text-bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12em;
  word-wrap: normal;
  word-break: normal; }

.coveo-facet-header {
  padding: 10px 0;
  text-transform: uppercase;
  background-color: #fff; }

.coveo-facet-header-title {
  color: inherit;
  font-size: 18px; }

.CoveoFacet, .CoveoFacetRange, .CoveoFacetSlider, .CoveoHierarchicalFacet {
  border: none;
  border-radius: 0px;
  margin: 20px 0;
  background-color: #F7F8F9; }

.coveo-facet-values {
  border: 1px solid #BCC3CA;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: none; }

.coveo-facet-footer {
  background-color: #F7F8F9;
  border: 1px solid #BCC3CA;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: none; }

.coveo-facet-more,
.coveo-facet-less {
  background-color: #F7F8F9; }

.coveo-facet-footer.coveo-facet-empty {
  visibility: visible;
  background-color: #F7F8F9; }

.coveo-facet-values.coveo-slider-container.coveo-with-graph {
  border-bottom: 1px solid #BCC3CA;
  border-radius: 3px; }

.CoveoRelatedLanguages {
  text-align: left; }

.tableau-result-links-section .CoveoQuickview,
.tableau-result-links-section .coveo-related-links-toggle {
  display: inline-block;
  margin: 0 10px; }

.tableau-result-links-section .coveo-related-links-toggle {
  margin-right: 0px; }

.coveo-first-loading-animation {
  background-color: #fff; }

.CoveoTab > .coveo-icon {
  line-height: 40px; }

.CoveoAttachedResultsTab {
  position: relative; }

.CoveoAttachedResultsTab.CoveoTab:before {
  border-left: 1px solid;
  content: " ";
  /* margin: 0px 25px 0 0; */
  position: absolute;
  top: 12px;
  height: 25px;
  left: -12px; }

.tableau-badge {
  font-size: 13px;
  display: inline-block;
  /* margin-left: 0.375em; */
  line-height: 1;
  vertical-align: middle;
  color: #67768B; }

.CoveoNbAttachedResults {
  display: inline-block; }

.CoveoSearchInterface .coveo-main-section {
  max-width: 1200px; }

.CoveoSearchInterface .coveo-search-section {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #F7F8F9; }

.coveo-tab-section {
  width: 1200px;
  text-align: left;
  padding: 0 15px;
  margin: 20px auto 0px;
  border: none; }

.CoveoFieldTable th {
  padding: 10px 10px 0px 0px; }

.CoveoResultFolding .coveo-jive-icon {
  font-size: 20px !important; }

.CoveoResultFolding .CoveoExcerpt {
  line-height: normal;
  font-size: 12px; }

.CoveoResultFolding .icon-community-discussion-answered {
  color: #4996B2; }

.coveo-result-folding-child-result:hover {
  border-left: 1px solid #4996B2; }

.coveo-folding-normal-caption, .coveo-folding-expanded-caption, .coveo-folding-oneresult-caption {
  font-size: 13px; }

.tableau-top-section {
  background-color: #F7F8F9;
  width: 100%;
  padding: 40px 0px 0px 0px;
  border-bottom: 1px solid #BCC3CA;
  margin: 0px 0px 20px 0px; }

.CoveoSettings {
  border-radius: 0px;
  border: none;
  margin: 0 0 0 0px;
  font-size: 30px;
  line-height: 45px;
  width: 30px; }

.coveo-settings-squares {
  display: none; }

.CoveoSettings + .CoveoSearchbox {
  margin-right: 46px; }

.coveo-tab-section .CoveoTab {
  margin: 0 15px; }

.coveo-tab-section .CoveoTab:first-child {
  margin-left: 0px; }

.CoveoFacet, .CoveoFacetRange, .CoveoFacetSlider, .CoveoHierarchicalFacet {
  border: none;
  border-radius: 0px;
  margin: 20px 0; }

.CoveoSearchbox .magic-box {
  border: 1px solid #BCC3CA;
  border-radius: 3px; }

.CoveoSearchbox .CoveoSearchButton {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: white; }

.CoveoTab {
  margin-bottom: -1px;
  border-bottom: 4px solid transparent; }

.CoveoTab.coveo-selected, .CoveoTab.coveo-selected:hover,
.CoveoSort.coveo-selected, .CoveoSort.coveo-selected:hover {
  border-bottom: 4px solid #4996B2; }

.CoveoSort {
  padding-bottom: 9px;
  border-bottom: 4px solid #BCC3CA; }

.coveo-icon.icon-attach {
  margin-top: 4px; }

.CoveoNbAttachedResults {
  margin-left: 5px; }

.tableau-give-feedback .coveo-icon,
.tableau-training-link .coveo-icon {
  display: inline-block;
  float: left;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 18px; }

.tableau-give-feedback .coveo-icon:before {
  /* fa-paper-plane */
  content: "\f1d8"; }

.tableau-training-link .coveo-icon:before {
  /* fa-book */
  content: "\f02d"; }

.tableau-kb-visibility .fa-lock {
  color: #787878; }

.tableau-related-links-content {
  display: none; }

#tableau-emailBox-Feedback {
  background-color: white;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  outline: none;
  margin: 5px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #c2c2c2; }

#tableau-emailBox-Feedback a,
#tableau-emailBox-Feedback a:hover {
  color: #4996B2; }

#tableau-emailBox-Feedback a:hover {
  cursor: pointer; }
