@font-face {
  font-family: 'enterprisesearch';
  src:  url('../fonts/enterprisesearch.eot?g9t45i');
  src:  url('../fonts/enterprisesearch.eot?g9t45i#iefix') format('embedded-opentype'),
    url('../fonts/enterprisesearch.ttf?g9t45i') format('truetype'),
    url('../fonts/enterprisesearch.woff?g9t45i') format('woff'),
    url('../fonts/enterprisesearch.svg?g9t45i#enterprisesearch') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="enterprisesearch-icon-"], [class*=" enterprisesearch-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'enterprisesearch' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.enterprise-icon-play_circle_filled:before {
  content: "\e038";
}
.enterprise-icon-file_word:before {
  content: "\e900";
}
.enterprise-icon-file_excel:before {
  content: "\e901";
}
.enterprise-icon-file_powerpoint:before {
  content: "\e902";
}
.enterprise-icon-file_onenote:before {
  content: "\e903";
}
.enterprise-icon-file_pdf:before {
  content: "\e904";
}
.enterprise-icon-file_webpage:before {
  content: "\e905";
}
.enterprise-icon-file_twbx:before {
  content: "\e906";
}
.enterprise-icon-image:before {
  content: "\e90d";
}

