@font-face {
  font-family: 'supportsearch';
  src:  url('../fonts/supportsearch.eot?4ytyjk');
  src:  url('../fonts/supportsearch.eot?4ytyjk#iefix') format('embedded-opentype'),
    url('../fonts/supportsearch.ttf?4ytyjk') format('truetype'),
    url('../fonts/supportsearch.woff?4ytyjk') format('woff'),
    url('../fonts/supportsearch.svg?4ytyjk#supportsearch') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'supportsearch' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file_excel:before {
  content: "\e915";
}
.icon-file_onenote:before {
  content: "\e916";
}
.icon-file_pdf:before {
  content: "\e917";
}
.icon-file_powerpoint:before {
  content: "\e918";
}
.icon-file_twbx:before {
  content: "\e919";
}
.icon-file_webpage:before {
  content: "\e91a";
}
.icon-file_word:before {
  content: "\e91b";
}
.icon-known-issue:before {
  content: "\e914";
}
.icon-attach:before {
  content: "\e912";
}
.icon-video-play-icon:before {
  content: "\e913";
}
.icon-community-discussion-answered:before {
  content: "\e900";
}
.icon-community-discussion-unanswered:before {
  content: "\e901";
}
.icon-community-ideas:before {
  content: "\e902";
}
.icon-community:before {
  content: "\e903";
}
.icon-wiki:before {
  content: "\e904";
}
.icon-devhelp:before {
  content: "\e905";
}
.icon-external-knowledge-base:before {
  content: "\e906";
}
.icon-get-external-link:before {
  content: "\e907";
}
.icon-help:before {
  content: "\e908";
}
.icon-internal-knowledge-base:before {
  content: "\e909";
}
.icon-knowledge-base:before {
  content: "\e90a";
}
.icon-more:before {
  content: "\e90b";
}
.icon-quickstart:before {
  content: "\e90c";
}
.icon-release-note:before {
  content: "\e90d";
}
.icon-support-case:before {
  content: "\e90e";
}
.icon-defect:before {
  content: "\e90f";
}
.icon-web-other:before {
  content: "\e910";
}
.icon-whitepaper:before {
  content: "\e911";
}

