


.CoveoSearchInterface .coveo-main-section,
.CoveoSearchInterface .coveo-bottom-section  {
    max-width: 1100px;
    margin: 0 auto;
}

.CoveoSearchInterface .coveo-search-section {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #F7F8F9;
}

.coveo-tab-section {
    width: 1100px;
    text-align: left;
    padding: 0 15px;
    margin: 20px auto 0px;
    border: none;
}

.CoveoFieldTable th {
    padding: 10px 10px 0px 0px;
}

.CoveoResult {
    border-bottom: none;
    margin-bottom: 20px;
}
.CoveoResultFolding {
    .coveo-jive-icon {
        font-size: 20px !important;
    }

    .CoveoExcerpt {
        line-height: normal;
        font-size:12px;
    }

    .icon-community-discussion-answered {
        color: $tableau-link-color;
    }
}

.coveo-result-folding-child-result:hover {
    border-left:1px solid $tableau-link-color;
}

.coveo-folding-normal-caption, .coveo-folding-expanded-caption, .coveo-folding-oneresult-caption {
    font-size:13px;
}


.tableau-top-section, 
.tableau-bottom-section {
    background-color: $tableau-gray-bg;
    width: 100%;
    
}

.tableau-top-section {
    padding: 40px 0px 0px 0px;
    border-bottom: 1px solid #BCC3CA;
    margin: 0px 0px 20px 0px;
}

.tableau-bottom-section {
    padding: 60px 0;
    border-top: 1px solid #BCC3CA;
    margin: 20px 0px 0px 0px;
    // min-height: 300px;
}

.CoveoSettings {
    border-radius: 0px;
    border: none;
    margin: 0 0 0 0px;
    font-size: 30px;
    line-height: 45px;
    width: 30px;
}

.coveo-settings-squares {
    display: none;
}

.CoveoSettings + .CoveoSearchbox {
    margin-right: 46px;
}


.coveo-tab-section .CoveoTab {
    margin: 0 15px;
}

.coveo-tab-section .CoveoTab:first-child {
    margin-left: 0px;
}

.CoveoFacet, .CoveoFacetRange, .CoveoFacetSlider, .CoveoHierarchicalFacet {
    border: none;
    border-radius: 0px;
    margin: 20px 0;
}


.CoveoSearchbox .magic-box {
    border: 1px solid #BCC3CA;
    border-radius: 3px;
}

.CoveoSearchbox .CoveoSearchButton {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
}

.CoveoTab {
    margin-bottom: -1px;
    border-bottom: 4px solid transparent;
}
.CoveoTab.coveo-selected, .CoveoTab.coveo-selected:hover,
.CoveoSort.coveo-selected, .CoveoSort.coveo-selected:hover {
    border-bottom: 4px solid $tableau-link-color;
}

.CoveoSort {
    padding: 0px 5px 9px 5px;
    margin-left: 10px;
    border-bottom: 4px solid #BCC3CA;
}

/*.CoveoSort {
    padding: 0px 9px 9px 9px;
    border-bottom: 4px solid #BCC3CA;

}*/

.logo {
    float: left;
    border-radius: 0px;
    border: none;
    margin: 0 0 0 0px;
    font-size: 30px;
    line-height: 40px;
    width: 140px;
    height: 40px;
    top: 5px;
    position: relative;
    cursor: pointer;
}

.logo + .CoveoSearchbox {
    margin-right: 46px;
    margin-left: 160px;
}

.CoveoTriggers {
    margin-bottom: 10px;
}

.CoveoSearchInterface .coveo-home-section.coveo-search-section {
    margin: 10% auto;
    background-color: transparent;
}

.CoveoSearchInterface .coveo-home-section { 
    .logo {
        float: none;
        border-radius: 0px;
        border: none;
        font-size: 30px;
        line-height: 40px;
        width:100%;
        height:100%;
        padding: 20px;
        top: 0px;
        position: relative;
        cursor: pointer;
        text-align: center;
    }
    .logo + .CoveoSearchbox {
        margin-right: 10%;
        margin-left: 10%;
    }
}

.coveo-pager-list-item.coveo-active, 
.coveo-active.coveo-results-per-page-list-item, 
.coveo-pager-list-item:hover, .coveo-results-per-page-list-item:hover {
    background-color: $tableau-link-color;
    color:#fff;
    font-weight: bold;
}

.coveo-pager-list-item.coveo-active a, .coveo-active.coveo-results-per-page-list-item a, .coveo-pager-list-item:hover a, .coveo-results-per-page-list-item:hover a {
    color:#fff;
    font-weight: bold;
}

.coveo-pager-list-item, .coveo-results-per-page-list-item {
    border-radius: 0;
    padding: 4px 10px;
}

.coveo-results-per-page-text {
    color: #333;
}

.CoveoResult.card:hover{
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
}
.CoveoResult.card {
    width:100%;
    float: none;
    border-radius: 4px;
    padding: 0 10px;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    img {
        border-radius:4px;
    }

    ul.coveo-employee-contact-info > li {
        list-style: none;
        display: inline;
        padding-right: 8px;
    }

    ul.coveo-employee-contact-info {
        padding-left: 0;
        margin: 2px 0;
    }

}
