.CoveoBoxHeader .CoveoSearchbox{
	height: 40px;
}

.CoveoBoxHeader .CoveoSearchbox .CoveoSearchButton {
    height: 40px;
}
.CoveoBoxHeader .CoveoSearchbox .CoveoQuerybox .magic-box-input,
.CoveoBoxHeader .CoveoSearchbox .CoveoOmnibox .magic-box-input,
.CoveoBoxHeader .CoveoSearchbox .CoveoQuerybox .magic-box-clear,
.CoveoBoxHeader .CoveoSearchbox .CoveoOmnibox .magic-box-clear {
    height: 40px;
    line-height: 40px;
}

.CoveoBoxHeader .CoveoSearchbox .CoveoQuerybox.magic-box-notEmpty .magic-box-clear, .CoveoBoxHeader .CoveoSearchbox .CoveoOmnibox.magic-box-notEmpty .magic-box-clear{
	height: 40px;
}
.CoveoBoxHeader .CoveoSearchbox .CoveoQuerybox.magic-box-inline, .CoveoBoxHeader .CoveoSearchbox .CoveoOmnibox.magic-box-inline{
	height: 40px;
}
.CoveoBoxHeader .CoveoSearchbox .CoveoQuerybox .magic-box-input .magic-box-underlay, .CoveoBoxHeader .CoveoSearchbox .CoveoQuerybox .magic-box-input > input, .CoveoBoxHeader .CoveoSearchbox .CoveoOmnibox .magic-box-input .magic-box-underlay, .CoveoBoxHeader .CoveoSearchbox .CoveoOmnibox .magic-box-input > input{
	line-height: 15px;
	font-size: 16px;
	height: 40px;
}
.CoveoBoxHeader .coveo-contextual-results-toggle,
.CoveoBoxHeader .coveo-box-settings, .CoveoBoxQuerySummary {
    margin: 5px 0 5px 5px;
}
.CoveoSearchInterface.CoveoBox .coveo-tab-section.coveo-inline-tab-section .CoveoTab p:hover,
.CoveoSearchInterface.CoveoBox .coveo-tab-section.coveo-inline-tab-section .CoveoTab p:focus {
    border-color:#439539;
}
 .CoveoSearchInterface.CoveoBox .coveo-tab-section.coveo-inline-tab-section .CoveoTab.coveo-selected p {
    border-color:#439539;
 }
.CoveoSearchInterface.CoveoBox .coveo-tab-section.coveo-inline-tab-section .CoveoTab + .CoveoTab {
    margin-left:10px;
}
.CoveoSearchInterface.CoveoBox .coveo-tab-section.coveo-inline-tab-section .CoveoTab p {
    padding: 0 5px;
}
.CoveoBoxHeader .coveo-box-settings{
	margin: 0px 0px 0px 0px;
}
.CoveoBoxHeader{
	margin-bottom:  0px;
}
.CoveoBoxQuerySummary{
	padding-bottom: 0px;
}
.CoveoAttachToCase span{
	padding-right: 0px;
}
.CoveoSearchInterface.CoveoBox .coveo-tab-section.coveo-inline-tab-section {
    margin: 10px 0px 10px 0px;
}

.CoveoBoxHeader .coveo-box-settings {
    font-size: 14px;
    vertical-align: middle;
    line-height: 30px;
}

 .CoveoResult .CoveoBadge .coveo-value {
     display: inline-block;
     padding: .25em .5em;
     background-color: #ccc;
     vertical-align: middle;
     border-radius: 1em;
     line-height: 1em;
     margin-right: 4px;
     margin-bottom: 2px;
     font-size: 11px;
 }

 .CoveoResult .CoveoBadge .coveo-value .coveo-badge-icon {
    display: none;
}
.CoveoSearchInterface{
	font-size: 12px;
}
.CoveoResultLink{
	font-size: 15px;
}
.CoveoBox .CoveoBoxBody .CoveoResult{
    margin: 0px 0px 7px 0px;
    padding-right: 4px;
    background-color: #f9f9f9;
    border: 1px solid #BCC3CA;
}
.CoveoBox .CoveoBoxBody .CoveoResult.sonus-no-access {
    color: #9F6000;
    background-color: #FEEFB3;
    border: 1px solid #9F6000;
}
.CoveoBox .CoveoBoxBody .CoveoResult.sonus-no-access .sonus-warning {
    color: #9F6000;
}
.CoveoBox .CoveoBoxBody .CoveoResult.sonus-no-access .CoveoAttachToCase,
.CoveoBox .CoveoBoxBody .CoveoResult .sonus-warning {
    display: none;
}

.CoveoBox.sonus-executing-impersonate-query .CoveoBoxQuerySummary,
.CoveoBox.sonus-executing-impersonate-query .CoveoPager,
.CoveoBox.sonus-executing-impersonate-query .coveo-contextual-results-toggle {
    visibility: hidden;
}

.CoveoBox .CoveoBoxBody .CoveoResult.sonus-no-access .sonus-warning {
    display: block;
    margin:0;
    font-weight: bold;
}
.coveo-tab-section.coveo-inline-tab-section {
    border-bottom: none;
}
.CoveoSearchInterface.CoveoBox .coveo-tab-section.coveo-inline-tab-section .CoveoTab p {
    border-bottom: 4px solid transparent;
}

.CoveoAttachToCase span.coveo-attach-to-case-attach{
	visibility: visible;
}
.CoveoAttachToCase span span{
	display: none;
}
.CoveoQuickview .coveo-caption-for-quickview{
	display: none;
}
.CoveoAttachToCase{
	padding-left: 2px;
}
.CoveoBoxHeader .coveo-box-header-sub-section-wrapper {
    margin:0;
}
.CoveoCreateWorkNote {
    position: relative;
    display: inline-block;
    float: right;
    margin-left:10px;
    padding: 0px 10px;
    background: transparent;
    background-clip: padding-box;
    border-radius: 0.25rem;
    color: #666;
    font-size: inherit;
    line-height: 2.125rem;
    text-decoration: none;
    -webkit-appearance: none;
    white-space: normal;
    border: 1px solid #d8dde6;
    background-color: white;
    cursor: pointer;
    transition: color 0.05s linear, background-color 0.05s linear;
}

.CoveoCreateWorkNote:hover {
    background-color: #f4f6f9;
    color: #439539;
}

.coveo-modalBox.sonus-worknote > .coveo-wrapper {
    width: 75%;
    /*height: 95%; */
    max-width: 75%;
    /* max-height: 95%; */
}

.coveo-modalBox > .coveo-wrapper {
    background: #e9e9e9;
    border: 1px solid #dddddd;
    color: #292929;
}
.coveo-modalBox > .coveo-wrapper > .coveo-buttons,
.coveo-modalBox > .coveo-wrapper > .coveo-body {
    background: none;
    border: none;
}

.coveo-modalBox > .coveo-wrapper > .coveo-title {
    background: none;
    border-bottom: 1px solid #d6d6d6;
    padding: 10px;
    height: inherit;
    line-height: inherit;
    cursor: inherit;
}

.coveo-modalBox > .coveo-wrapper > .coveo-body {
    padding: 8px 32px;
    background: #f6f6f6;
    color: #404040;
}

.coveo-modalBox > .coveo-wrapper > .coveo-buttons {
    text-align: center;
    background: #f6f6f6;
    color: #404040;
}

.coveo-modalBox > .coveo-wrapper > .coveo-buttons .coveo-button {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    background: #404040;
    color: #f6f6f6;
    margin: 0 16px;
}

.coveo-modalBox.sonus-worknote textarea:hover {
    border-color: #c4c4c4;
}

.coveo-modalBox.sonus-worknote textarea:focus {
    border-color: #00b2f4;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.06),0 0 5px rgba(0,159,219,.7);
    outline: none;
}
.coveo-modalBox.sonus-worknote textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
    height: 10em;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
    box-sizing: border-box;
    font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 1em;
    margin-bottom: .75em;
    padding: .5em;
    -webkit-transition: border-color;
    transition: border-color;
    width: 100%;
}

#loading {
    padding: 100px 0;
    background-color: #fff;
    z-index: 10;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.coveo-pager-list-item.coveo-active{
    font-size:20px;
}
li.coveo-pager-list-item {
    font-size: 15px;
}

.coveo-type-boolean {
  cursor: pointer;
  width: 85px;
}

.coveo-type-boolean .coveo-switch {
  float: right;
  margin: 0px 0px 8px 0px;
}

.coveo-type-boolean .coveo-label {
  display: inline-block;
  line-height: 20px;
  width: auto;
}

.coveo-switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
  background: #bbbbbb;
  padding: 2px;
  cursor: pointer;
  transition: background 0.3s;
  box-sizing: border-box;
}

.coveo-switch:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 16px;
  background: #ffffff;
  transition: left 0.3s;
}

.coveo-switch.coveo-active {
  background-color: #42956f;
}

.coveo-switch.coveo-active:before {
  left: 12px;
}

