.CoveoSearchInterface {
    font-family: $tableau-font-family;
}
.CoveoResult {
    .icon-support-case.icon--bigger {
        font-size:32px;
    }

    .icon--bigger,
    .fa--bigger {
        font-size: 40px;
        color: $tableau-icon-color;
    }
}
.coveo-quick-view {  
    > .coveo-wrapper {
        width: 80% !important;
        height: 90% !important;
        max-width: 80% !important;
        max-height: 90% !important;
    }
    .coveo-title span.coveo-quickview-icon.coveo-icon {
        display: none !important;
    }
    .coveo-title {
        font-family: $tableau-font-family;
        
        background-color:$tableau-link-color !important;
    }
    .coveo-title .coveo-quickview-time,
    .coveo-title .coveo-quickview-pop-up-reminder {
        color:#fff !important;
    }
}

.CoveoExcerpt {
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

.coveo-community-rating {
    color: #666;
    font-size: 12px;
}

.coveo-community-rating > span {
    margin-right: 10px;
}

.coveo-community-rating > span > i {
    margin-right: 5px;
}

.CoveoTab {
    color:$tableau-icon-color;
}

.CoveoTab:focus,
.CoveoTab:hover,
.CoveoTab.coveo-selected {
    color:#000;
}


.coveo-facet-value-caption[title='Unspecified'] {
    font-style: italic;
}

.CoveoResult a:hover, .CoveoResult a:visited,
.coveo-facet-value.coveo-facet-search-button,
.CoveoResultLink:hover, 
.CoveoResultLink:visited, 
a.CoveoResultLink:hover, 
a.CoveoResultLink:visited, 
.CoveoResult a.CoveoResultLink:hover, 
.CoveoResult a.CoveoResultLink:visited,
a.CoveoResultLink .CoveoExcerpt,
.CoveoResult a.CoveoResultLink,
.coveo-field-table-toggle,
.coveo-field-table-toggle:hover, .coveo-field-table-toggle:visited,
.coveo-related-links-toggle,
.coveo-related-links-toggle:hover, .coveo-related-links-toggle:visited,
.coveo-related-links-languages a, .coveo-related-links-languages a:hover,
.coveo-related-links-languages:visited a,
.CoveoQuickview:hover, .CoveoQuickview:visited, .CoveoQuickview ,
a.coveo-folding-show-more, a.coveo-folding-show-less,
.coveo-facet-breadcrumb-value.coveo-selected *, .coveo-facet-slider-breadcrumb-value.coveo-selected *,
a.CoveoBoxEditLink:hover,a.CoveoBoxEditLink:visited,
.coveo-hidden-query-breadcrumb-value, .coveo-hidden-query-breadcrumb-value:hover,
.coveo-breadcrumb-clear-all,
.coveo-facet-breadcrumb-value, .coveo-facet-slider-breadcrumb-value,
.coveo-facet-breadcrumb-value:hover, .coveo-facet-slider-breadcrumb-value:hover,
.tableau-external-links-section a, .tableau-external-links-section a:hover,
.tableau-external-links-section a:visited {
    color: $tableau-link-color;
}


.coveo-sprites-quickview, 
.CoveoQuickview .coveo-icon-for-quickview, 
.CoveoResultAttachments .coveo-thumbnail-icon, 
.coveo-feedItem-result .coveo-thumbnail-icon, 
.coveo-feedComment-result .coveo-thumbnail-icon,
.coveo-sprites-attach, .CoveoAttachToCase span.coveo-attach-to-case-attach:before {
    display: inline-block;
    float: left;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 18px;
}

.coveo-facet-header-settings .coveo-icon,
.coveo-facet-header-settings:hover .coveo-icon, 
.coveo-facet-header-settings:focus .coveo-icon {
    font-family: 'supportsearch' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:20px;
    line-height: 18px;
}

.coveo-sprites-quickview:before, 
.CoveoQuickview .coveo-icon-for-quickview:before, 
.CoveoResultAttachments .coveo-thumbnail-icon:before, 
.coveo-feedItem-result .coveo-thumbnail-icon:before, 
.coveo-feedComment-result .coveo-thumbnail-icon:before {
    /* fa-eye */
    content: "\f06e";
}

.coveo-facet-header-settings .coveo-icon:before,
.coveo-facet-header-settings:hover .coveo-icon:before, 
.coveo-facet-header-settings:focus .coveo-icon:before {
    /* fa-ellipsis */
    /*content: "\f141"*/
    content:"\e90b"
}

.coveo-sprites-attach, 
.CoveoAttachToCase span.coveo-attach-to-case-attach:before,
.coveo-sprites-attached, .CoveoAttachToCase span.coveo-attach-to-case-attached:before {
    letter-spacing: normal;
    background-position: 0 0;
    text-indent: 2px;
    /* width: 16px; */
    /* height: 16px; */
    font-family: 'supportsearch' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     content:"\e912";
    font-size: 16px;
}

.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button .coveo-icon,
.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button:hover .coveo-icon,
.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button .coveo-icon:hover {
    background-image: none;
    background-position: 0 0;
    text-indent: 0;
    width: 20px;
    height: 20px;
    font-family: 'supportsearch' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    color:#fff;
}

.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button .coveo-icon:before {
    content: '\e915';
}

.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button .coveo-icon:hover,
.coveo-modalBox.coveo-quick-view > .coveo-wrapper > .coveo-title .coveo-quickview-close-button:hover .coveo-icon {
    color:#85144b;
}

.coveo-sprites-attach, 
.CoveoAttachToCase span.coveo-attach-to-case-attach span,
.CoveoAttachToCase span.coveo-attach-to-case-attach:before {
    //color: #adadad;
    color: $tableau-icon-color;
}

.coveo-sprites-attached, 
.CoveoAttachToCase span.coveo-attach-to-case-attached span,
.CoveoAttachToCase span.coveo-attach-to-case-attached:before {
    color:$tableau-link-color;
}


.coveo-sprites-quickview, 
.CoveoQuickview .coveo-icon-for-quickview, 
.CoveoResultAttachments .coveo-thumbnail-icon, 
.coveo-feedItem-result .coveo-thumbnail-icon, 
.coveo-feedComment-result .coveo-thumbnail-icon,
.coveo-facet-header-settings .coveo-icon,
.coveo-facet-header-settings:hover .coveo-icon, 
.coveo-facet-header-settings:focus .coveo-icon {
    letter-spacing: normal;
    color: $tableau-icon-color;
    background-position: 0 0;
    text-indent: 2px;
    width:20px;
    height: 18px;

}

.coveo-facet-more .coveo-icon {
    top:-2px;
}
.coveo-facet-less .coveo-icon {
    top: -4px;
}

.coveo-facet-collapsed .coveo-facet-values {
    display: none;
}

.coveo-jive-icon {
    font-size: 40px !important;
    color: $tableau-icon-color;
}

.jive-badge.jive-status-green {
    background-color: #14892c;
    border-color: #14892c;
    color: #fff;
}
.jive-badge {
    background: #ccc;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 99%;
    margin: 0;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.jive-status {
    vertical-align: text-bottom;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 12em;
    word-wrap: normal;
    word-break: normal;
}


.coveo-facet-header {
    padding: 10px 0;
    text-transform: uppercase;
    background-color: #fff;
}

.coveo-facet-header-title {
    color: inherit;
    font-size: 18px;
}

.CoveoFacet, .CoveoFacetRange, .CoveoFacetSlider, .CoveoHierarchicalFacet {
    border: none;
    border-radius: 0px;
    margin: 20px 0;
    background-color:$tableau-gray-bg;
}

.coveo-facet-values {
    border: 1px solid #BCC3CA;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: none;
}

.coveo-facet-footer {
    background-color:$tableau-gray-bg;
    border: 1px solid #BCC3CA;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
}

.coveo-facet-more,
.coveo-facet-less {
    background-color:$tableau-gray-bg;
}

.coveo-facet-footer.coveo-facet-empty {
    visibility: visible;
    background-color:$tableau-gray-bg;
}

.coveo-facet-values.coveo-slider-container.coveo-with-graph {
    border-bottom: 1px solid #BCC3CA;
    border-radius: 3px;
}

.CoveoRelatedLanguages {
    text-align: left;
}

.tableau-result-links-section .CoveoQuickview,
.tableau-result-links-section .coveo-related-links-toggle {
    display: inline-block;
    margin: 0 10px;
}

.tableau-result-links-section .coveo-related-links-toggle {
    margin-right: 0px;
}

.coveo-first-loading-animation {
    background-color: #fff;
}
.CoveoTab > .coveo-icon {
    line-height: 40px;
}
.CoveoAttachedResultsTab {
    position: relative;
}
.CoveoAttachedResultsTab.CoveoTab:before {
    border-left: 1px solid;
    content: " ";
    /* margin: 0px 25px 0 0; */
    position: absolute;
    top: 12px;
    height: 25px;
    left: -12px;
}

.tableau-badge {
    // font-family: "Benton Sans Book", Helvetica,sans-serif;
    font-size: 13px;
    // letter-spacing: 1px;
    // text-transform: uppercase;
    display: inline-block;
    // padding: 0.25em 0.375em 0.1875em 0.5em;
    /* margin-left: 0.375em; */
    line-height: 1;
    vertical-align: middle;
    // background-color: $tableau-purple;
    // background-color: #ccc;
    // border: 1px solid #ccc;
    color: #67768B; 
    // border-radius: 3px;
}

.CoveoNbAttachedResults {
    display: inline-block;
}

