.CoveoSearchbox {
    .magic-box {
        border-radius: 2em;
        background-color: #fff;
    }
    .magic-box .magic-box-input {
        border-radius : 2em; 
    }
    .magic-box .magic-box-input .magic-box-underlay, 
    .magic-box .magic-box-input > input {
        text-indent: 24px;
    
    }
    .magic-box.magic-box-notEmpty .magic-box-clear {
        width: 16px;
    }
    .CoveoSearchButton {
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
        border:none;
        width: 50px;
    }
}

.CoveoSearchInterface {
    font-family: "Benton Sans Book",Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    .coveo-search-section {
        max-width: 1000px;
    }
    .coveo-main-section {
        max-width: 85%;
        float: left;
    }
    .coveo-results-column {
        width: 70%;
        float: left;
        padding: 10px 20px 10px 0px;
    }
    .coveo-facet-column {
        float: right;
        width: 30%;
        padding: 5px 5px 5px 50px;
    }
}

.CoveoTab.coveo-selected:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -7px;
    width: 3px;
    height: 90%;
    background: #e8762c;
}

.CoveoExcerpt {
    font-size: 16px;
    line-height: 1.88;
    font-family: "Merriweather",serif;
    font-weight: normal;
    font-style: normal;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

.CoveoResult .icon--bigger {
    font-size: 40px;
    color: $tableau-blue;
}
.coveo-custom-icon {
    font-size: 20px;
}

.CoveoResult {
    padding-bottom: 1em;
    border-bottom: 1px solid #dedede;
}

.CoveoFieldValue[data-field="@objecttypename"] > span {
    font-family: "Benton Sans Book",Helvetica,sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.25em 0.375em 0.1875em 0.5em;
    margin-left: 0.375em;
    line-height: 1;
    vertical-align: middle;
    background-color: #847094;
    color: #fff;
}

.CoveoResult a:hover, .CoveoResult a:visited,
.CoveoResultLink:hover, 
a.CoveoResultLink:hover, 
.CoveoResult a.CoveoResultLink:hover,
.coveo-facet-value.coveo-facet-search-button,
.CoveoResultLink, 
a.CoveoResultLink, 
a.CoveoResultLink .CoveoExcerpt,
.CoveoResult a.CoveoResultLink,
.coveo-field-table-toggle,
.coveo-field-table-toggle:hover, .coveo-field-table-toggle:visited,
.coveo-related-links-toggle,
.coveo-related-links-toggle:hover, .coveo-related-links-toggle:visited,
.coveo-related-links-languages a, .coveo-related-links-languages a:hover,
.coveo-related-links-languages:visited a  {
    color: $tableau-orange;
}

.coveo-sprites-quickview, 
.CoveoQuickview .coveo-icon-for-quickview, 
.CoveoResultAttachments .coveo-thumbnail-icon, 
.coveo-feedItem-result .coveo-thumbnail-icon, 
.coveo-feedComment-result .coveo-thumbnail-icon {
    display: inline-block;
    float: left;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 23px;
}

.coveo-sprites-quickview:before, 
.CoveoQuickview .coveo-icon-for-quickview:before, 
.CoveoResultAttachments .coveo-thumbnail-icon:before, 
.coveo-feedItem-result .coveo-thumbnail-icon:before, 
.coveo-feedComment-result .coveo-thumbnail-icon:before {
    /* fa-eye */
    content: "\f06e";
}

.coveo-sprites-quickview, 
.CoveoQuickview .coveo-icon-for-quickview, 
.CoveoResultAttachments .coveo-thumbnail-icon, 
.coveo-feedItem-result .coveo-thumbnail-icon, 
.coveo-feedComment-result .coveo-thumbnail-icon {
    letter-spacing: normal;
    color: $tableau-gray;
    background-position: 0 0;
    text-indent: 0px;
    width:100%;
    height: 23px;

}

.coveo-jive-icon {
    font-size: 40px !important;
    color: $tableau-blue;
}

.CoveoResultFolding .coveo-jive-icon {
    font-size: 20px !important;
}

.CoveoResultFolding .CoveoExcerpt {
    line-height: normal;
    font-size:12px;
}

.coveo-folding-normal-caption, .coveo-folding-expanded-caption, .coveo-folding-oneresult-caption {
    font-size:13px;
}
.jive-badge.jive-status-green {
    background-color: #14892c;
    border-color: #14892c;
    color: #fff;
}
.jive-badge {
    background: #ccc;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 99%;
    margin: 0;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.jive-status {
    vertical-align: text-bottom;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 12em;
    word-wrap: normal;
    word-break: normal;
}

