


.CoveoSearchInterface .coveo-main-section {
    max-width: 1200px;
}

.CoveoSearchInterface .coveo-search-section {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #F7F8F9;
}

.coveo-tab-section {
    width: 1200px;
    text-align: left;
    padding: 0 15px;
    margin: 20px auto 0px;
    border: none;
}

.CoveoFieldTable th {
    padding: 10px 10px 0px 0px;
}


.CoveoResultFolding {
    .coveo-jive-icon {
        font-size: 20px !important;
    }

    .CoveoExcerpt {
        line-height: normal;
        font-size:12px;
    }

    .icon-community-discussion-answered {
        color: $tableau-link-color;
    }
}

.coveo-result-folding-child-result:hover {
    border-left:1px solid $tableau-link-color;
}

.coveo-folding-normal-caption, .coveo-folding-expanded-caption, .coveo-folding-oneresult-caption {
    font-size:13px;
}


.tableau-top-section {
    background-color: $tableau-gray-bg;
    width: 100%;
    padding: 40px 0px 0px 0px;
    border-bottom: 1px solid #BCC3CA;
    margin: 0px 0px 20px 0px;
}

.CoveoSettings {
    border-radius: 0px;
    border: none;
    margin: 0 0 0 0px;
    font-size: 30px;
    line-height: 45px;
    width: 30px;
}

.coveo-settings-squares {
    display: none;
}

.CoveoSettings + .CoveoSearchbox {
    margin-right: 46px;
}


.coveo-tab-section .CoveoTab {
    margin: 0 15px;
}

.coveo-tab-section .CoveoTab:first-child {
    margin-left: 0px;
}

.CoveoFacet, .CoveoFacetRange, .CoveoFacetSlider, .CoveoHierarchicalFacet {
    border: none;
    border-radius: 0px;
    margin: 20px 0;
}


.CoveoSearchbox .magic-box {
    border: 1px solid #BCC3CA;
    border-radius: 3px;
}

.CoveoSearchbox .CoveoSearchButton {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
}

.CoveoTab {
    margin-bottom: -1px;
    border-bottom: 4px solid transparent;
}
.CoveoTab.coveo-selected, .CoveoTab.coveo-selected:hover,
.CoveoSort.coveo-selected, .CoveoSort.coveo-selected:hover {
    border-bottom: 4px solid $tableau-link-color;
}

.CoveoSort {
    padding-bottom:9px;
    border-bottom: 4px solid #BCC3CA;

}

.coveo-icon.icon-attach {
    margin-top: 4px;
}

.CoveoNbAttachedResults {
    margin-left: 5px;
}