@import url('//fonts.googleapis.com/css?family=Raleway:400,600,700');

.CoveoSearchInterface {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.CoveoBoxHeader .CoveoSearchbox .CoveoQuerybox .magic-box-input .magic-box-underlay,
.CoveoBoxHeader .CoveoSearchbox .CoveoQuerybox .magic-box-input > input,
.CoveoBoxHeader .CoveoSearchbox .CoveoOmnibox .magic-box-input .magic-box-underlay,
.CoveoBoxHeader .CoveoSearchbox .CoveoOmnibox .magic-box-input > input {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.CoveoTab .coveo-icon {
    padding: 0 4px;
    /*padding: 8px 0;*/
    /*vertical-align: top;*/
}

.CoveoBoxPopup {
    margin: 10px 0 0;
}

.coveo-box-custom-settings {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    height: 40px;
}
.coveo-box-custom-settings-btn {
    margin-left: 10px;
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;

}
.coveo-box-custom-settings-container {
    position: absolute;
    z-index: 10;
    border: 1px solid #cccccc;
    border-radius: 2px;
    display: none;
    right: 0;
    top: 46px;
    margin: auto;
}

.coveo-box-custom-settings-container.coveo-box-custom-settings-container-open{
    display: inline-block;
    background-color:white;
}

.coveo-box-custom-settings-container > a {
    display: block;
    float: none;
    margin: 5px;
    text-align: right;
}
.coveo-box-custom-settings .coveo-box-custom-settings-container.coveo-box-custom-settings-container-open:before {
    content: "";
    position: absolute;
    margin: auto;
    left: 0;
    right: -70%;
    top: -11px;
    z-index: 1;
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-bottom-color: #696969;
}

.CoveoBoxHeader .coveo-box-header-searchbox-section-wrapper {
    height: auto;
}

.CoveoBoxHeader .coveo-box-settings {
    margin: 10px 0 0;
}

.CoveoBoxCreateArticle {
    border-radius:0.25rem;
    line-height: 1.6rem;

}
.CoveoTab {
    color: #666;
}

.coveo-popups-slider i {
    top: -15px;
    left: 50%;
    position: absolute;
}

.coveo-popups-slider {
    border-bottom: 2px solid transparent;
    height: 5px;
    color: transparent;
    position: relative;
    -webkit-transition: height 0.8s;
    -moz-transition: height 0.8s;
    transition: height 0.8s;
}

.coveo-popups-slider:hover {
    /*border-color: #BCC3CA;*/
    color: #BCC3CA;
    cursor: pointer;
}
.coveo-box-popups-section-collapsed .coveo-popups-slider:hover {
    height: 20px;
}
.coveo-box-popups-section-collapsed .coveo-popups-slider {
    /*margin-bottom: 15px;*/
}

.coveo-box-popups-section-collapsed .coveo-popups-slider i {
    top: 0px;
}
.coveo-tab-section.coveo-inline-tab-section {
    border-bottom: 5px solid #DADDDF;
    min-height: 36px !important;
    height: 36px !important;
    overflow: visible !important;
}

.CoveoBoxHeader .CoveoSearchbox .CoveoSearchButton {
    height: 38px;
}

.CoveoSearchInterface.CoveoBox .coveo-tab-section.coveo-inline-tab-section .CoveoTab.coveo-selected p {
    border-color: transparent;
}

.CoveoSearchInterface.CoveoBox .coveo-tab-section.coveo-inline-tab-section .CoveoTab p {
    border-bottom: none;
}

.CoveoSearchInterface.CoveoBox .coveo-tab-section.coveo-inline-tab-section .CoveoTab {
    border-bottom: 5px solid transparent;
    height: 36px;
}
.coveo-stacked-tab-section .CoveoTab {
    text-indent: inherit;
    font-size:14px !important;
    top:0px;
    border-radius: 0px !important;
    height: inherit !important;
}
.coveo-stacked-tab-section .CoveoTab.coveo-selected p {
    font-weight: 600;
}
.coveo-stacked-tab-section .CoveoTab.coveo-selected p,
.coveo-stacked-tab-section .CoveoTab p:hover {
    border:none !important;
    /*color:#ee3025 !important;*/
}

.CoveoBoxPopup .coveo-box-popup-toggle, .CoveoBox .coveo-sort-section .CoveoSort {
    color: #666;
}
.coveo-box-popup-toggle,
.CoveoSearchInterface.CoveoBox .coveo-tab-section.coveo-stacked-tab-section .CoveoTab,
.CoveoBox .coveo-sort-section .CoveoSort {
    text-align: left !important;
    color: #666;
}

.coveo-stacked-tab-section .CoveoTab p {
     line-height:36px;
     display: inline-block;
 }
 .CoveoHierarchicalFacet, .CoveoFacetSlider {
     margin: 5px;
 }

 .CoveoResult .CoveoBadge .coveo-value {
     display: inline-block;
     padding: .25em .5em;
     background-color: #ccc;
     vertical-align: middle;
     border-radius: 1em;
     line-height: 1em;
     margin-right: 4px;
     margin-bottom: 2px;
     font-size: 0.85em;
 }

 .CoveoResult .CoveoBadge .coveo-value .coveo-badge-icon {
    display: none;
}
.CoveoBoxHeader .CoveoSearchbox {
    height:40px;
}
.CoveoBoxHeader .CoveoSearchbox .CoveoQuerybox .magic-box-input .magic-box-underlay,
.CoveoBoxHeader .CoveoSearchbox .CoveoQuerybox .magic-box-input > input,
.CoveoBoxHeader .CoveoSearchbox .CoveoOmnibox .magic-box-input .magic-box-underlay,
.CoveoBoxHeader .CoveoSearchbox .CoveoOmnibox .magic-box-input > input {
    font-size:14px;
    height:38px;
}

.CoveoBoxHeader .CoveoSearchbox .CoveoQuerybox .magic-box-input,
.CoveoBoxHeader .CoveoSearchbox .CoveoOmnibox .magic-box-input {
    height:38px;
}

.CoveoBoxHeader .CoveoSearchbox .CoveoQuerybox .magic-box-clear,
.CoveoBoxHeader .CoveoSearchbox .CoveoOmnibox .magic-box-clear {
    height:38px;
    line-height:38px;
}

 *::-webkit-input-placeholder {
   color: #666;
   font-weight: 400;
   font-size: inherit }

 *:-moz-placeholder {
   color: #666;
   font-weight: 400;
   font-size: inherit }

 *::-moz-placeholder {
   color: #666;
   font-weight: 400;
   font-size: inherit }

 *:-ms-input-placeholder {
   color: #666;
   font-weight: 400;
   font-size: inherit }
