.CoveoBoxHeader { 
    // padding-top: 20px;
    margin-bottom:0px;
    .CoveoSearchbox .CoveoSearchButton {
        position: relative;
        border-radius: 0px;
        height: 50px;
        width: 60px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        top: 0;
        bottom: 0;
        left: 0;
        border: 1px solid #9e9e9e;
    }
    .CoveoSearchbox {
        height: 50px;
    }
    .CoveoSearchbox .CoveoQuerybox .magic-box-input, 
    .CoveoSearchbox .CoveoOmnibox .magic-box-input {
        background: #fff;
        height: 48px;
        overflow: hidden;
        position: relative;
        border-radius: 3px;
    }
    .CoveoSearchbox .CoveoOmnibox .magic-box-input .magic-box-underlay,
    .CoveoSearchbox .CoveoOmnibox .magic-box-input > input {
        text-align: left;
        padding: 12px 0;
        text-indent: 12px;
        font-family: arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 48px;
        white-space: pre;
    }
    .CoveoSearchbox .CoveoQuerybox .magic-box-clear, 
    .CoveoSearchbox .CoveoOmnibox .magic-box-clear {
        float: right;
        width: 0 !important;
        height: 48px;
        line-height: 48px;
    }

    .CoveoSearchbox .CoveoQuerybox.magic-box-notEmpty .magic-box-clear, 
    .CoveoSearchbox .CoveoOmnibox.magic-box-notEmpty .magic-box-clear {
        width: 50px !important;
    }

    .coveo-box-settings {
        float:left;
        margin: 0;
        line-height: 2.125rem;
        font-size: 14px;
    }
    .coveo-box-popups-section {
        padding-bottom:0px;
    }
    .coveo-box-popups-section:after {
        clear: both;
        display: table;
        content: " ";
    }
}



.CoveoSearchInterface.CoveoBox {

    .coveo-tab-section.coveo-inline-tab-section .CoveoTab p:hover,
    .coveo-tab-section.coveo-inline-tab-section .CoveoTab p:focus {
        border-color:transparent;
    }

    .coveo-tab-section.coveo-inline-tab-section .CoveoTab.coveo-selected p {
        border-color:$tableau-link-color
    }

    .coveo-tab-section.coveo-inline-tab-section .CoveoTab + .CoveoTab {
        margin-left:15px;
    }
    .coveo-tab-section.coveo-inline-tab-section .CoveoTab p {
        padding: 0 5px;
        height: 40px;
        line-height: 40px;
        border-bottom: 4px solid transparent;
    }

    .coveo-tab-section.coveo-inline-tab-section {
        margin: 10px 0px 10px 0px;
    }
    .coveo-tab-section.coveo-inline-tab-section .CoveoTab {
        height: 40px;
        margin-bottom: -1px;
    }

    .CoveoTab, .CoveoTab.coveo-selected, .CoveoTab.coveo-selected:hover {
        border-bottom: none;
    }
} 
.CoveoBox{
    display:none;
}
.CoveoSearchInterface.CoveoBox, 
.CoveoSearchInterface.CoveoBoxForCase {
    padding: 0 15%;
}



.CoveoBoxPopup .coveo-box-popup-toggle {
    padding-left: 10px;
    border: none;
    color: $tableau-link-color;
}

.CoveoBoxPopup .coveo-box-popup-toggle:hover {
    background-color: transparent;
    text-decoration: underline;
    color: $tableau-link-color;
}

.CoveoBoxPopup {
    float:left; 
}

.CoveoBoxExpandLink,
.CoveoBoxEditLink {
    margin: 0px 5px 0 0;
    font-size: 14px;
    float:none;
}
.CoveoBoxExpandLink > span {
    vertical-align: inherit;
}
.CoveoBoxExpandLink,
.CoveoBoxExpandLink:hover {
    color: $tableau-link-color;
}

.coveo-contextual-results-toggle {
    display: none !important;
}

.CoveoBox .CoveoBoxBody .CoveoResult {
    padding: 10px 0px 10px 0px;
    border-bottom: none;
    margin: 0px;

    &.coveo-result-frame .coveo-result-row {
        margin:0px;
    }
    .CoveoExcerpt {
        font-size:12px;
    }
    
}

.CoveoBox .CoveoBoxBody .CoveoResult:hover{
    background-color: $tableau-hover-color;
}

.coveo-facet-more .coveo-icon {
    top:-4px;
}
.coveo-facet-less .coveo-icon {
    top: -6px;
}

.coveo-icon.icon-attach {
    margin: -4px 0px 0 15px;
}

.CoveoAttachedResultsTab.CoveoTab:before {
    top: 9px;
    height: 20px;
    left: 0px;
}