@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

$tableau-orange: #e8762c;
$tableau-gray:#787878;
$tableau-blue:#2e4c65;
$tableau-purple:#847094;

@import "CoveoCusto";
@import "Tableau"
