@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

@import "TableauVariables";

body {
    line-height: inherit;
}

a {
    text-decoration: none;
    color: $tableau-link-color;
}
@import "CoveoCommonCusto";
@import "CoveoInternalCusto";
@import "TableauInternalCusto";
