.tableau-give-feedback .coveo-icon,
.tableau-training-link .coveo-icon {
    display: inline-block;
    float: left;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 18px;
}
.tableau-give-feedback .coveo-icon:before {
    /* fa-paper-plane */
    content: "\f1d8";
}
.tableau-training-link .coveo-icon:before {
    /* fa-book */
    content: "\f02d";
}

.tableau-kb-visibility .fa-lock {
    color:$tableau-gray;
}


.tableau-related-links-content { display: none; }

#tableau-emailBox-Feedback {
    background-color: white;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    outline: none;
    margin: 5px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
}

#tableau-emailBox-Feedback a,
#tableau-emailBox-Feedback a:hover, {
    color:$tableau-link-color;
}

#tableau-emailBox-Feedback a:hover {
    cursor:pointer;
}

