$tableau-orange: #e8762c;
$tableau-gray:#787878;
$tableau-blue:#2e4c65;
$tableau-purple:#847094;

$tableau-link-color: #4996B2;
$tableau-hover-color:#ECF4F7;
$tableau-gray-bg:#F7F8F9;
$tableau-icon-color:#666666;
$tableau-correct-answer-color: #14892c;


$tableau-font-family:"Benton Sans Book",Helvetica,sans-serif;
