
.trust-status img {
    width: 36px;
}

.coveo-result-row.trust-header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 0;
    font-size: 20px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.coveo-result-row.trust-content {
    border: 1px solid #e3e3e3;
    border-top : none;
    margin : 0;
}

.coveo-result-cell.trust-server,
.coveo-result-cell.trust-status {
    text-align: center;
    padding: 3px 0;
    color: #666;
    font-size: 1.1em;
    text-transform: uppercase;
    line-height: 30px;
}

.tableau-result-links-section {
    .coveo-field-table-toggle {
        display: inline-block;
    }

    .CoveoFieldTable th {
        text-align: right;
    }

    .CoveoFieldTable td {
        text-align: left;
    }
}


.tableau-external-links-section {
    margin-right: 46px;
    margin-left: 160px;

    ul {
        text-align:right;
        margin: 10px 0;
        padding:0;
    }

    ul > li {
        display: inline;
        list-style: none;
        padding:0 20px
    }
    ul > li:last-child {
        padding-right:0;
    }

}

.tableau-top-section-header,
.tableau-top-sub-section-header{
    text-align: center;
    display:none;
}

.tableau-announcement-section{
    text-align: left;
    display: none;
    /* max-width: 600px; */
    /* position: relative; */
    width: 800px;
    border: solid 1px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    padding: 0px 50px;
}

.tableau-announcement-section h2 {
    text-align: center;
}

.tableau-announcement-section ul {
    width: 80%;
    text-align: left;
    margin: 15px auto 30px auto;

}

.tableau-announcement-section li {
    margin-bottom: .1em;
    line-height: 1.3;
}

.tableau-announcement-section li > span {
    margin-left:20px
}

.toplogo {
    width: 40px;
    float: left;
    display: none;
}

.logo {
    max-width: 45px;
    margin-left: 50px;
}

.logo + .CoveoSearchbox {
    margin-right: 46px;
    margin-left: 115px;
}

 @media (max-width: 639px) {
      .logo {
        margin-left: 10px;
      }
      .logo + .CoveoSearchbox {
        margin-left: 65px;
      }
}

body.tableau-home-mode {
    background-color: #F7F8F9;

    .tableau-top-section {

        border-bottom: none;
        top: 140px;
        position: relative;
    }

    .coveo-tab-section {
        visibility: hidden;
    }

    .coveo-main-section, .tableau-bottom-section {
        display:none;
    }

    .tableau-external-links-section {
        display:none;
    }

    .CoveoSettings {
        visibility: hidden;
    }

    .tableau-top-section-header,
    .tableau-top-sub-section-header,
    .tableau-announcement-section{
        display:block;
    }

    .coveo-small-interface .tableau-announcement-section,
    .coveo-small-interface .coveo-dropdown-header-wrapper {
        display: none;
    }

    .CoveoSearchbox {
        margin-left: 46px;
    }

    .tableau-top-section-wrapper {
        width: 570px;
        margin: 0 auto;
    }

    .toplogo {
        max-width: 40px;
        float: left;
        margin-top: 8px;
        display: block;
    }

    .logo {
        display: none;
    }

    @media (max-width: 639px) {
      .toplogo {
        display: none;
      }
      .logo {
        margin-left: 10px;
      }
      .logo + .CoveoSearchbox {
        margin-left: 65px;
      }
      .tableau-top-section-wrapper {
        width: 100%;
      }
    }
}


.tableau-first-loading .tableau-bottom-section {
    visibility: hidden;
}

.tableau-top-sub-section-header {
    position: relative;
    margin: 10px 0;
}

.dropdown-button {
    cursor: pointer;
}

.dropdown-menu.open {
    display: block;
}

.dropdown-toggle {
    position: relative;
    display: inline;
}

.dropdown-menu {
    position: absolute;
    right:0;
    z-index: 1000;
    display: none;
    min-width: 120px;
    padding: 5px 10px;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}


.tabwow-loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    opacity: 1;
}

.tabwow-loading .spinner {
    margin: 200px auto;
    width: 50px;
    height: 50px;
    background: url(https://coveo-tableau.pantheonsite.io/sites/all/themes/tabwow/images/spinner.png) center no-repeat;
    background-size: 100%;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin{
    100%{
        transform:rotate(360deg);
    }
}

.common-source-section,
.created-by-section {
    font-size: 13px;
    color: darkgray;
}

.coveo-facet-value-caption.unspecified {
    font-style: italic;
}

.coveo-facet-header-eraser {
    background-position: 0px 0px;
    width: 80px;
    text-transform: none;
    color: #4996B2
}

.coveo-facet-header-eraser:hover {
    background-position: 0px 0px;
    width: 80px;
    text-transform: none;
    text-decoration: underline;
    color: #4996B2
}

.coveo-facet-header-eraser:before {
    content: 'Clear all';
    text-indent: 0px;
}

.coveo-give-feedback .coveo-icon ,
.tableau-training-link .coveo-icon {
    display: inline-block;
    float: left;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 18px;
}

.coveo-give-feedback .coveo-icon:before {
    /* fa-paper-plane */
    content: "\f1d8";
}

.tableau-training-link .coveo-icon:before {
    /* fa-book */
    content: "\f02d";
}

.coveo-authentication-provider{
    display: none;
}

.icon-smaller {
    font-size: 20px
}

.coveo-list-layout.CoveoResult {
    border-bottom: 0px solid #BCC3CA; 
    margin: 20px 0px 20px 20px;
}

.wiki-folding .coveo-folding-footer {
    display: none;
}






