ul {
  list-style: none;
  margin: 0px; }

body {
  font-family: 'roboto', Arial, Helvetica, sans-serif; }

@font-face {
  font-family: roboto;
  src: url("../fonts/roboto-normal.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

/* temporary fix for demo */
div#searchBox {
  top: -5px; }

.magic-box-icon {
  margin-top: 13px; }

.CoveoSearchbox .CoveoSearchButton {
  background: white; }
