.coveo-tab-section {
  text-align: left;
  background-color: #FFFFFF; }

.CoveoSearchInterface {
  font-family: RobotoLight; }
  .CoveoSearchInterface .coveo-search-section {
    max-width: 1175px;
    background: whitesmoke;
    border: 1px solid #e7e3e7;
    padding: 20px 20px 42px 20px;
    margin: 54px auto 30px auto; }
  .CoveoSearchInterface .coveo-facet-header {
    background: whitesmoke; }
  .CoveoSearchInterface .coveo-list-layout.CoveoResult {
    margin: 20px 0px 20px 0px; }
  .CoveoSearchInterface .CoveoResultLink, .CoveoSearchInterface a.CoveoResultLink, .CoveoSearchInterface .CoveoResult a.CoveoResultLink {
    color: #007db8; }

.magic-box .magic-box-input > input {
  font-family: RobotoLight;
  font-size: 18px; }

.coveo-omnibox-custom-wrapper {
  width: 70%;
  position: absolute;
  top: 0px;
  right: 0px;
  /* background-color: #D3D3D3; */
  height: 100%;
  border-left: solid 1px #eee; }

.magic-box-suggestion {
  width: 220px !important;
  display: block !important; }

.magic-box-suggestions {
  max-width: 1175px;
  height: 350px; }

.coveo-custom-result-row {
  float: left; }

.CoveoTab.coveo-selected, .CoveoTab.coveo-selected:hover {
  border-bottom: 2px solid #007db8; }

.CoveoSort.coveo-selected, .CoveoSort.coveo-selected:hover {
  border-bottom: 2px solid #007db8; }

.coveo-pager-list-item.coveo-active, .coveo-active.coveo-results-per-page-list-item, .coveo-pager-list-item:hover, .coveo-results-per-page-list-item:hover {
  background-color: #007db8; }

.CoveoAdvancedSearchPanel .coveo-advanced-search-link {
  float: right;
  cursor: pointer;
  color: #007db8;
  margin: 8px 2px 2px 5px;
  display: inline;
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  padding: 2px 25px 2px 15px;
  font-weight: 400; }

.CoveoAdvancedSearchPanel .coveo-advanced-search-panel {
  display: none;
  margin-top: 10px;
  min-height: 60px;
  min-width: 100%; }

.CoveoAdvancedSearchPanel .coveo-advanced-search-panel-all-input,
.CoveoAdvancedSearchPanel .coveo-advanced-search-panel-exact-input,
.CoveoAdvancedSearchPanel .coveo-advanced-search-panel-any-input,
.CoveoAdvancedSearchPanel .coveo-advanced-search-panel-none-input {
  display: table;
  margin-right: 20px;
  margin-bottom: 5px;
  text-align: left;
  padding: 12px 0;
  text-indent: 12px;
  font-size: 16px;
  line-height: 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  white-space: pre;
  overflow: auto;
  box-sizing: border-box;
  color: #67768B;
  margin-top: 15px;
  font-family: RobotoLight;
  border: 1px solid #4e5052; }

.CoveoAdvancedSearchPanel #row {
  display: table-row; }

.CoveoAdvancedSearchPanel #left, .CoveoAdvancedSearchPanel #right {
  display: table-cell; }

.CoveoAdvancedSearchPanel #right {
  padding-left: 20px; }

.dellemc-icon {
  background: transparent url(https://support.emc.com/ngoeStaticResources/images/spr-content-big.png) no-repeat 0 -44px;
  height: 44px;
  width: 44px;
  margin-top: 5px; }

.knowledge {
  background-position: 0 -528px; }

.forums {
  background-position: 0 -616px; }

.tool {
  background-position: 0 -135px; }

.default,
.documentation {
  background-position: 0 0px; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999; }

@font-face {
  font-family: RobotoLight;
  src: url("../fonts/Roboto-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

.CoveoSearchButton > .coveo-icon,
.CoveoSearchButton:hover > .coveo-icon,
.coveo-executing-query .CoveoSearchButton > .coveo-icon,
.coveo-executing-query .CoveoSearchButton:hover > .coveo-icon {
  background: url(../image/searchbox.png) no-repeat 13px 13px;
  background-position: 0px 0px;
  width: 21px;
  height: 25px;
  text-indent: 1000px;
  animation: none; }

.CoveoSearchButton {
  background-color: #007db8;
  border: 1px solid #4e5052;
  border-left: 0px; }

.CoveoSearchbox .magic-box {
  border-radius: 0px;
  border: 1px solid #4e5052; }

.coveo-tab-section {
  border-bottom: 1px solid #999; }

.coveo-list-layout.CoveoResult {
  border-bottom: 1px solid #999; }

.CoveoBreadcrumb {
  border-bottom: 1px solid #999; }

.coveo-results-header {
  box-shadow: 0 -1px 0px 0px #999 inset; }

.CoveoFacet, .CoveoFacetRange {
  border: 1px solid #999;
  border-radius: 0px; }

.coveo-facet-breadcrumb-value.coveo-selected *, .coveo-facet-slider-breadcrumb-value.coveo-selected * {
  color: #007db8; }

.coveo-facet-value.coveo-facet-search-button {
  color: #007db8; }

.coveo-omnibox-icon {
  width: 44px;
  height: 44px; }

.CoveoOmnibox .coveo-result-frame .coveo-result-cell, .CoveoOmnibox .CoveoResult.coveo-result-frame .coveo-result-cell {
  vertical-align: middle; }
