.CoveoCaseContext {
    padding: 0;
    /* border: 1px solid #BCC3CA; */
    border-radius: 4px;
    background: #F7F8F9;
    position: relative;
    margin: 10px 0px 10px 0px;

    .coveo-facet-header-title {
        color: #fff;
    }
    
    .coveo-facet-header {
        padding: 10px 20px;
        background-color: $tableau-link-color;
        color: #fff;
        border: 1px solid $tableau-link-color;
        text-transform: uppercase;


        a {
            color:#fff;
        }

        .coveo-facet-header-eraser,
        .coveo-facet-header-eraser:hover {
            background-position: 0 0;
            background-image: none;
            text-indent: 0;
            font-size: 22px;
        }

        .coveo-facet-header-eraser:hover {
            color: #85144b;
        }
    }

    .coveo-fade-out {
        opacity: 0.5;
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        transition: opacity 0.5s; 
    }
}

li.coveo-context-section {
    list-style: none;
    border-bottom: 1px solid $tableau-link-color;
    margin-left: 0;
}

li.coveo-context-section .coveo-context-title {
    font-weight: bold;
    color: $tableau-link-color;
}

li.coveo-context-section .coveo-context-finder {
    border: none;
    padding: 1em 0 0 0;
}

ul.coveo-context-content, 
.coveo-context-finder {
    padding: 1em;
    border: 1px solid #BCC3CA;
    margin: 0;
    border-top: none;
    -webkit-margin-before: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

li.coveo-context-section:last-child {
    border-bottom: none;
}

.coveo-context-finder {
    .magic-box .magic-box-suggestions .magic-box-suggestion {
        padding: 5px;
        font-size: 14px;
        line-height: 1.5;
        font-weight: normal;
        font-style: normal;
        color: #333;
        -webkit-font-smoothing: antialiased;
        white-space: normal;

        .icon-support-case {
            color:$tableau-icon-color;
            margin-right:5px;
        }
    }
    .magic-box .magic-box-input .magic-box-underlay, .magic-box .magic-box-input > input {
        font-size:15px;
        font-family:$tableau-font-family;
        line-height: 1;
        height:36px;
        padding:8px 0;
    }
    .magic-box .magic-box-input {
        height: 36px;
        // border-radius:4px;
    }

    .magic-box.magic-box-notEmpty .magic-box-clear {
        width: 36px;
    }
    .magic-box .magic-box-clear {
        height: 36px;
        line-height: 36px;
        font-size: 12px;
    }
    &.magic-box{
        // border-radius:4px;
    }

    .magic-box .magic-box-suggestions .magic-box-suggestion.magic-box-selected {
        background-color:$tableau-link-color !important;
        color:#fff;
    }

    .magic-box .magic-box-clear .magic-box-icon:before {
        font-family:$tableau-font-family;
        font-size:15px;
    }

    .magic-box .magic-box-suggestions .magic-box-suggestion:hover {
        background-color:$tableau-link-color;
        color:#fff;
    }

}

