.CoveoFeedback {
    position: relative;
    display: inline-block;
    // margin-left:5px;
    // padding: 0px 10px;
    background: transparent;
    background-clip: padding-box;
    // border-radius: 0.25rem;
    color: #666;
    font-size: inherit;
    // line-height: 2.125rem;
    text-decoration: none;
    -webkit-appearance: none;
    white-space: normal;
    // border: 1px solid #d8dde6;
    background-color: white;
    cursor: pointer;
    transition: color 0.05s linear, background-color 0.05s linear;
}

.CoveoFeedback:hover {
    // background-color: #f4f6f9;
    color: #e8762c;
}

.coveo-modalBox.tableau-feedback {
    > .coveo-wrapper {
        width: 55%;
        /*height: 95%; */
        max-width: 55%;
        /* max-height: 95%; */
    }

    textarea:hover {
        border-color: #c4c4c4;
    }

    textarea:focus {
        border-color: #00b2f4;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.06),0 0 5px rgba(0,159,219,.7);
        outline: none;
    }

    textarea {
        overflow: auto;
        vertical-align: top;
        resize: vertical;
        height: 10em;
        font-size: 100%;
        margin: 0;
        vertical-align: baseline;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 3px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
        box-sizing: border-box;
        font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
        font-size: 1em;
        margin-bottom: .75em;
        padding: .5em;
        -webkit-transition: border-color;
        transition: border-color;
        width: 100%;
    }

    input {
        width:100%;
        margin: 5px 0;
    }

} 

.coveo-modalBox > .coveo-wrapper {
    background: #e9e9e9;
    border: 1px solid #dddddd;
    color: #292929;

    > .coveo-buttons,
    > .coveo-body {
        background: none;
        border: none;
    }

    > .coveo-title {
        background: none;
        border-bottom: 1px solid #d6d6d6;
        padding: 10px;
        height: inherit;
        line-height: inherit;
        cursor: inherit;
    }

    > .coveo-body {
        padding: 8px 32px;
        background: #f6f6f6;
        color: #404040;
    }

    > .coveo-buttons {
        text-align: center;
        background: #f6f6f6;
        color: #404040;
    }

    > .coveo-buttons .coveo-button {
        display: inline-block;
        padding: 8px 16px;
        cursor: pointer;
        background: #404040;
        color: #f6f6f6;
        margin: 0 16px;
        height: inherit;
        width: inherit;
    }
}