.coveo-related-links-toggle {
    color: #296896;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 5px 5px 0px;

    .coveo-related-links-caption {
        margin-right:5px;
    }
}

.coveo-related-links-toggle-container {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease-in-out;
    &.coveo-no-transition {
        transition: none;
    }
}

.CoveoRelatedLinks {
    border: 1px solid #BCC3CA;
    border-radius: 4px;
    width: 100%;
    background-color: #F7F8F9;
    padding-bottom: 10px;
    position: relative;
    word-break: break-all;
    border-collapse: separate;
    margin-bottom: 20px;
}

.coveo-related-links-toggle-icon {
  position: relative;
  top: 2px;
  color: $tableau-blue !important;
  &.fa {
    font-size: 16px !important;
    margin-left: 5px;
  }

//   @extend .coveo-sprites-arrow-down;
//   @include transition(opacity 0.5s);
  opacity: 1;
  &.coveo-opened {
    opacity: 0;
  }
}

.coveo-related-links-toggle-icon-up {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  color: $tableau-blue !important;
  &.fa {
    font-size: 16px !important;
    margin-left: 5px;
  }
  display: none;
  &.coveo-opened {
    display: inline-block;
  }
}

.CoveoRelatedLinks .CoveoFieldValue {
    padding:10px 0 0 10px;
    text-align: left;
}

.CoveoRelatedLanguages {
    padding:10px
}

.CoveoRelatedItems, { 
    display:table;
    padding:8px 10px;

    .coveo-related-items,
    .coveo-related-items {
        display:table-row;
    }

    .coveo-related-items-header-row,
    .coveo-related-items-data-row,
    .coveo-related-items-header-row,
    .coveo-related-items-data-row {
        display:table-cell;
    }

    .coveo-related-items-header-row,
    .coveo-related-items-header-row {
        width:100px;
        padding-right:10px;

    }

    .coveo-related-links-Case .coveo-related-items-header-row {
        display: none;
    }
}




