<div class="news-interstitial {{ modifier_class }}" id="{{ id }}">
  <div class="news-interstitial__message" style="background-image: url({{ image }});">
    <div class="news-interstitial__inner">
      <div class="news-interstitial__close">
        <a href="#"><i class="icon icon--close-window-style2"></i></a>
      </div>
      <div class="news-interstitial__content">
        <div class="grid--6 push--6 text--centered">
          <h2>{{{ title }}}</h2>
          <p>
            {{#with cta}}
              {{>cta}}
            {{/with}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<p>
  <strong>Note:</strong> See description for demo instructions.
</p>
